<div class="details pdf">
	<h3>Author</h3>
	<p>{{author}}/p>
	<h3>Date Added</h3>
	<p>{{published_on}}</p>
	<h3>License</h3>
	<p>{{license.name}}</p>
	<h3>Tags</h3>
	<ul class="list-inline">
	{{#each tag}}
			<li><h6 class="tag">{{title}}</h6></li>
	{{/each}}
	</ul>
	<h3>Description</h3>
	<p>{{description}}</p>
</div>