<div id = "previewer" class="container-fluid pull-left viewer">
	<h6>
		<ol class="breadcrumb"></ol>
		<span class="pull-right toggle_previewer glyphicon glyphicon-remove" aria-hidden="true"></span>
		<span class="pull-right toggle_details glyphicon glyphicon-menu-down" aria-hidden="true"></span>
	</h6>
	<h2 id="title">{{title}}</h2>
	
	For Testing Purposes: 
	<a class="pdf_sample">View PDF</a>
	<a class="audio_sample">View Audio</a>
	<a class="video_sample">View Video</a>
	
	<div class="details">
		<nav class="btn-group btn-group-justified" role="group">
			<a class="btn btn-defult" id="description_nav">Description</a>
			<a class="btn btn-defult" id="detail_nav">Details</a>
		</nav>
		<div id="file_detail_info">
			<div class="row-fluid">
				<div>
					<h2>Author</h2>
					<p>{{#if author}}{{author}}{{else}}No authors found.{{/if}}</p>
				</div>
				<div>
					<h2>Date Added</h2>
					<p>{{#if published_on}}{{published_on}}{{else}}No date found.{{/if}}</p>
				</div>
				<div>
					<h2>License</h2>
					<p>{{#if license.name}}{{license.name}}{{else}}No license found.{{/if}}</p>
				</div>
			</div>
			<h3>Tags</h3>
			<ul class="list-inline">
				{{#if tag.length}}{{#each tag}}{{title}}{{/each}}{{else}}No tags found.{{/if}}
			</ul>
		</div>
		<div id="file_description_info">
			<p>{{#if description}}{{description}}{{else}}No description found.{{/if}}</p>
		</div>
	</div>
	
	<div id="preview_window" class="container-fluid"></div>
</div>