<h2 class="text-center title-bar">{{topic.title}}</h2>
<div class="container-interior">
	<canvas class="pull-left"> </canvas>
</div>
<ul class="content-list list-unstyled">
	<span class="top_border boundary">&nbsp;</span>
	{{#if mode}}
		<li class="btn btn-default add_content_button" name="{{topic.title}}">
			<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
			ADD
		</li>
	{{/if}}
	{{#each content_list}}
		<li class="content" id="{{#if id}}{{id}}{{else}}new{{/if}}""></li>
	{{else}}<h5 class="default-item">No items found.</h5>
	{{/each}}
	<span class="bottom_border boundary">&nbsp;</span>
</ul>