<li class="content">
	{{#if edit}}<input type="checkbox" id="{{index}}_{{list_index}}"/>
	{{else}}<input type="radio" name="selected" id="{{index}}_{{list_index}}"/>{{/if}}
	<label class="file {{#unless edit}}preview_button{{/unless}}" for="{{index}}_{{list_index}}" title="{{file.title}}">	
		{{#if edit}}
			<div class="options pull-right">
				<span class="glyphicon glyphicon-pencil edit_file_button" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-search preview_button" aria-hidden="true"></span>
			</div>
		{{/if}}
		<h4>{{#if file}}{{file.title}}{{else}}Content Name{{/if}}</h4>
	</label>
</li>