<li id="item_{{index}}_{{list_index}}">
	{{#if edit}}<input type="checkbox" id="{{index}}_{{list_index}}"/>
	{{else}}<input type="radio" name="selected" id="{{index}}_{{list_index}}"/>{{/if}}
	<label class="file" for="{{index}}_{{list_index}}" title="{{file.title}}">
		{{#if edit}}
			<span class="pull-right">
				<span class="glyphicon glyphicon-pencil edit_file_button" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-search preview_button" aria-hidden="true"></span>
			</span>
		{{/if}}
		<h4>{{file.title}}</h4>
	</label>
</li>