<li class="content">
	{{#if edit}}<input type="checkbox" id="folder_{{cid}}"/>
	{{else}}<input type="radio" name="{{container}}" id="folder_{{cid}}"/>{{/if}}
	<label class="folder collapsed {{#unless edit}}open_folder{{/unless}}" for="folder_{{cid}}" title="{{folder.title}}">
		{{#if edit}}
			<div class="folder_options pull-right">
				<div class="options">
					<span class="edit_folder_button glyphicon glyphicon-pencil" aria-hidden="true"></span>
					<span class="open_folder glyphicon glyphicon-menu-right" aria-hidden="true"></span>
				</div>
			</div>
		{{/if}}
		<h3 class = "title">{{#if folder}}{{folder.title}}{{else}}Folder Name{{/if}}</h3>
		<p class="description">{{#if folder}}{{folder.description}}{{else}}Description of the folder{{/if}}</p>
		<a class="filler" title="{{folder.description}}">See More</a>
	</label>
</li>