<div class="prereq_select_item_wrapper {{#if isfolder}}topic_item{{/if}} {{#if is_prerequisite}}disabled{{/if}}" {{#if is_prerequisite}}disabled{{/if}}>
	<div class="col-xs-9 truncate prereq_cell" title="{{node.title}}">
		{{#if isfolder}}
			<img src="/static/img/topic.png" class="topic_icon"/>
		{{else}}
			<span class="{{#get_icon node.kind}}{{/get_icon}}" aria-hidden="true"></span>
		{{/if}}
		&nbsp;{{node.title}}
	</div>
	<div class="col-xs-3 text-center prereq_cell">
	{{#if is_prerequisite}}Already selected
	{{else}}
		{{#if isfolder}}
			<span class="glyphicon glyphicon-menu-right pull-right" aria-hidden="true"></span>
		{{else}}
			<a class="action-text select_prereq">SELECT</a>
		{{/if}}
	{{/if}}
	</div>
</div>