<div id="clipboard" class="pull-right">
	<div class="clipboard_header">
		<h3>
			{{#if is_file}}
				<span class="pull-left glyphicon glyphicon-folder-open" aria-hidden="true"></span>
				Editing File
			{{else}}
				<span class="pull-left glyphicon glyphicon-folder-open" aria-hidden="true"></span>
				{{#if edit}}Editing Folder{{else}}Adding Folder{{/if}}
			{{/if}}
			<span class="toggle_clipboard pull-right glyphicon glyphicon-remove" aria-hidden="true"></span>
		</h3>
	</div>
	<div id="clipboard_content"> 
		<h6 class="error" id="name_err">Please input a valid name</h6>
		<input type="text" id="folder_name" value="{{model.title}}" placeholder="Name"/>
		{{#if is_file}}
			<input type="text" id="content_author" value="{{model.author}}" placeholder="Author"/>
			<input type="text" id="content_license" value="{{model.license.name}}" placeholder="License"/>
			<input type="text" class="content_tags" placeholder="Tags (press 'Enter' to add tag)"/>
		{{/if}}
		<textarea id="folder_description" placeholder="Description" maxlength="{{limit}}">{{model.description}}</textarea>
		<div class="char_counter" align="right"><span class="counter">{{limit}}</span> Chars Left</div>
		<div class="text-center"> 
			<a class="btn btn-link clipboard_update_folder">{{#if edit}}Update{{else}}Add{{/if}}</a>
		</div>
	</div>
</div>