<div id="clipboard" class="pull-right">
	<div class="clipboard_header">
		<h3>
			<span class="pull-left glyphicon glyphicon-folder-open" aria-hidden="true"></span>
			{{#if edit}}Editing Folder{{else}}Adding Folder{{/if}}
			<span class="toggle_clipboard pull-right glyphicon glyphicon-remove" aria-hidden="true"></span>
		</h3>
	</div>
	<div id="clipboard_content"> 
		<h6 class="error" id="name_err">Please input a valid name</h6>
		<input type="text" id="folder_name" value="{{folder.title}}" placeholder="Name"/>
		<textarea id="folder_description" placeholder="Description" maxlength="{{limit}}">{{folder.description}}</textarea>
		<div class="char_counter" align="right"><span class="counter">{{limit}}</span> Chars Left</div>
		<div class="text-center"> 
			<a class="btn btn-link clipboard_update_folder">{{#if edit}}Update{{else}}Add{{/if}}</a>
		</div>
	</div>
</div>