<div class="details container-fluid">
	<div class="row-fluid">
		<div id="top-left">
			<h5>Author</h5>
			<p>{{#if file.author}}{{file.author}}{{else}}No authors found.{{/if}}</p>
		</div>
		<div id="top-right">
			<h5>Tags</h5>
			<p>{{#if tag.length}}{{#each tag}}{{tag.name}}{{/each}}{{else}}No tags found.{{/if}}</p>
		</div>
	</div>
	<div class="row-fluid">
		<div id="bottom-left">
			<h5>License</h5>
			<p>{{#if file.license.name}}{{file.license.name}}{{else}}No license found.{{/if}}</p>
		</div>
		<div id="bottom-right">
			<h5>Description</h5>
			<p>{{#if file.description}}{{file.description}}{{else}}No description found.{{/if}}</p>
		</div>
	</div>
</div>