<div class="details_view">
    <!-- Nav tabs -->
    <div class="btn-group btn-group-justified" role="tablist">
        <a href="#content-section" aria-controls="content-section" role="presentation" class="active btn btn-tab" data-toggle="tab" id="content-tab">{{formatMessage (intlGet 'messages.whats_inside')}}</a>
        {{#if resource_count}}
            <a href="#auth-section" aria-controls="auth-section" role="tab" data-toggle="tab" class="btn btn-tab" id="auth-tab">{{formatMessage (intlGet 'messages.source')}}</a>
        {{/if}}
        {{#if channel.published}}
            <a href="#use-section" aria-controls="use-section" role="tab" data-toggle="tab" class="btn btn-tab" id="use-tab">{{formatMessage (intlGet 'messages.using_channel')}}</a>
        {{/if}}
    </div>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active in fade container-fluid section" id="content-section">
            {{#if resource_count}}
            <div class="information">
                <div class="row info-row" id="count_bars">
                    <div class="col-xs-6">
                        {{formatMessage (intlGet 'messages.resource_size')}}
                            <span id="count_gauge" data-toggle="tooltip" data-placement="top" title="{{formatMessage (intlGet 'messages.resource_count') count=resource_count}} - {{count_bar.text}}">
                                {{#each count_bar.filled}}
                                    <b class="count_icon {{#if this}}filled{{/if}}">▮</b>
                                {{/each}}
                            </span>
                    </div>
                    <div class="col-xs-6">
                        {{formatMessage (intlGet 'messages.storage')}}
                        <span data-toggle="tooltip" data-placement="top" title="{{{format_file_size details.resource_size}}} - {{size_bar.text}}">
                            {{#each size_bar.filled}}<i class="material-icons size_icon">sd_storage</i>{{/each}}
                        </span>
                    </div>
                </div>
                <div class="row info-row">
                    {{#if details.kind_count}}
                        <div class="container-fluid field content_breakdown">
                            <div class="row">
                                <div class="col-xs-8" id="svg_wrapper">
                                    <!-- D3 Pie chart will be inserted here -->
                                </div>
                                <div class="col-xs-4" id="legend_wrapper">
                                    <!-- D3 Legend will be inserted here -->
                                </div>
                            </div>

                        </div>
                    {{/if}}
                </div>
                <br>
                <div class="row info-row">
                    <div class="col-xs-12 info-box" id="include-box">
                        <div class="label">{{formatMessage (intlGet 'messages.includes')}}</div>
                        <div class="row">
                            <div class="col-xs-6">
                                <p>{{formatMessage (intlGet 'messages.languages')}}</p>
                                {{#if details.languages}}
                                    <ul class="list-unstyled">
                                        {{#each languages.short }}
                                            <li class="language">{{this}}</li>
                                        {{/each}}
                                    </ul>
                                    {{#if languages.full }}
                                        <ul class="list-unstyled collapse" id="collapseLanguages">
                                            {{#each languages.full }}
                                                <li class="language">{{this}}</li>
                                            {{/each}}
                                        </ul>
                                        <p><a class="toggle-list" data-toggle="collapse" href="#collapseLanguages" data-update="{{formatMessage (intlGet 'messages.less')}}">{{formatMessage (intlGet 'messages.more')}} ({{languages.full.length}})</a></p>
                                    {{/if}}
                                {{else}} ---
                                {{/if}}
                            </div>
                            <div class="col-xs-6">
                                <p>{{formatMessage (intlGet 'messages.accessible_languages')}}</p>
                                {{#if details.accessible_languages}}
                                    <ul class="list-unstyled">
                                        {{#each accessible_languages.short }}
                                            <li class="language">{{this}}</li>
                                        {{/each}}
                                    </ul>
                                    {{#if accessible_languages.full }}
                                        <ul class="list-unstyled collapse" id="collapseAccessibleLanguages">
                                            {{#each accessible_languages.full }}
                                                <li class="language">{{this}}</li>
                                            {{/each}}
                                        </ul>
                                        <p><a class="toggle-list" data-toggle="collapse" href="#collapseAccessibleLanguages" data-update="{{formatMessage (intlGet 'messages.less')}}">{{formatMessage (intlGet 'messages.more')}} ({{accessible_languages.full.length}})</a></p>
                                    {{/if}}
                                {{else}} ---
                                {{/if}}
                            </div>
                        </div>
                        <div class="row additional_include">
                            <label>{{formatMessage (intlGet 'messages.instructor_resources')}}</label>
                            {{#if details.includes.coach_content}}
                                <div class="included" data-toggle="tooltip" data-placement="top" title="{{formatMessage (intlGet 'messages.role_description')}}">
                                    {{formatMessage (intlGet 'messages.coach_content')}}
                                </div>
                            {{/if}}
                            {{#if details.includes.exercises}}
                                <div class="included">
                                    {{formatMessage (intlGet 'messages.assessments')}}
                                </div>
                            {{/if}}
                        </div>
                    </div>
                </div>
                {{#if details.sample_nodes}}
                    <br>
                    <div class="row info-row">
                        <div class="col-xs-12 info-box" id="preview-box">
                            <div class="label">{{formatMessage (intlGet 'messages.preview')}}</div>
                            <div class="pathways">
                                {{#if details.sample_pathway}}
                                <div class="btn-group btn-group-justified pathway flat" role="group">
                                    {{#each details.sample_pathway}}
                                        <a href="/channels/{{../channel_id}}/view/{{node_id}}" target="_blank" class="btn" title="{{title}}">
                                            <i class="material-icons">{{{get_icon kind_id}}}</i>
                                            <div>{{title}}</div>
                                        </a>
                                    {{/each}}
                                </div>
                                {{/if}}
                            </div>
                            <div class="sample-nodes row">
                                {{#each details.sample_nodes}}
                                    <div class="col-xs-3 text-center preview">
                                        <a href="/channels/{{../channel_id}}/view/{{node_id}}" target="_blank">
                                            <img src="{{thumbnail}}">
                                            <h5>{{title}}</h5>
                                        </a>
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                {{/if}}
                {{#if details.tags}}
                <br>
                <div class="row info-row">
                    <div class="col-xs-12 info-box" id="tag-box">
                        <div class="label">{{formatMessage (intlGet 'messages.tags')}}</div>
                        <div id="tagcloud">
                            <!-- Tag cloud will be inserted here -->
                        </div>
                    </div>
                </div>
                {{/if}}
                <br>
            </div>
            {{else}}
            <div class="container-fluid empty_default text-center">
                {{#if is_channel }}
                    {{formatMessage (intlGet 'messages.empty_details')}}
                {{else}}
                    {{formatMessage (intlGet 'messages.topic_empty_details')}}
                {{/if}}
            </div>
            {{/if}}
        </div>
        {{#if resource_count}}
            <div role="tabpanel" class="tab-pane fade container-fluid section" id="auth-section">
                <div class="information">
                    <div class="row info-row">
                        <div class="col-xs-4 text-center">
                            <i class="material-icons creator_icon">edit</i>
                            <p>
                                {{#if is_channel }}
                                    {{formatMessage (intlGet 'messages.author')}}
                                {{else}}
                                    {{formatMessage (intlGet 'messages.topic_author')}}
                                {{/if}}
                                {{#if details.authors}}
                                    <ul class="list-unstyled">
                                        {{#each authors.short }}<li><b>{{this}}</b></li>{{/each}}
                                    </ul>
                                    {{#if authors.full }}
                                        <ul class="list-unstyled collapse" id="collapseAuthors">
                                            {{#each authors.full }}<li><b>{{this}}</b></li>{{/each}}
                                        </ul>
                                        <p><a class="toggle-list" data-toggle="collapse" href="#collapseAuthors" data-update="{{formatMessage (intlGet 'messages.less')}}">{{formatMessage (intlGet 'messages.more')}} ({{authors.full.length}})</a></p>
                                    {{/if}}
                                {{else}}<br><b>---</b>
                                {{/if}}
                            </p>
                        </div>
                        <div class="col-xs-4 text-center">
                            <i class="material-icons creator_icon">pan_tool</i>
                            <p>
                                {{#if is_channel }}
                                    {{formatMessage (intlGet 'messages.provider')}}
                                {{else}}
                                    {{formatMessage (intlGet 'messages.topic_provider')}}
                                {{/if}}
                                {{#if details.providers}}
                                    <ul class="list-unstyled">
                                        {{#each providers.short }}<li><b>{{this}}</b></li>{{/each}}
                                    </ul>
                                    {{#if providers.full }}
                                        <ul class="list-unstyled collapse" id="collapseProviders">
                                            {{#each providers.full }}<li><b>{{this}}</b></li>{{/each}}
                                        </ul>
                                        <p><a class="toggle-list" data-toggle="collapse" href="#collapseProviders" data-update="{{formatMessage (intlGet 'messages.less')}}">{{formatMessage (intlGet 'messages.more')}} ({{providers.full.length}})</a></p>
                                    {{/if}}
                                {{else}}<br><b>---</b>
                                {{/if}}
                            </p>
                        </div>

                        <div class="col-xs-4 text-center">
                            <i class="material-icons creator_icon">inbox</i>
                            <p>
                                {{#if is_channel }}
                                    {{formatMessage (intlGet 'messages.aggregator')}}
                                {{else}}
                                    {{formatMessage (intlGet 'messages.topic_aggregator')}}
                                {{/if}}
                                {{#if details.aggregators}}
                                    <ul class="list-unstyled">
                                        {{#each aggregators.short }}<li><b>{{this}}</b></li>{{/each}}
                                    </ul>
                                    {{#if aggregators.full }}
                                        <ul class="list-unstyled collapse" id="collapseAggregators">
                                            {{#each aggregators.full }}<li><b>{{this}}</b></li>{{/each}}
                                        </ul>
                                        <p><a class="toggle-list" data-toggle="collapse" href="#collapseAggregators" data-update="{{formatMessage (intlGet 'messages.less')}}">{{formatMessage (intlGet 'messages.more')}} ({{aggregators.full.length}})</a></p>
                                    {{/if}}
                                {{else}}<br><b>---</b>
                                {{/if}}
                            </p>
                        </div>
                    </div>
                    <div class="row info-row licenses">
                        <div class="col-xs-2 text-right"><i class="material-icons cc_icon">copyright</i></div>
                        <div class="col-xs-10">
                            <div class="row">
                                {{formatMessage (intlGet 'messages.license') count=license_count}}:
                                {{#if details.licenses}}
                                    {{#each details.licenses }}
                                        {{{translate this}}}
                                        <i class="material-icons help_icon" data-toggle="tooltip" data-placement="top" title="{{{translate (concat this '_description')}}}">info_outline</i>&nbsp;
                                    {{/each}}
                                {{else}} --- {{/if}}
                            </div>
                            <div class="row">{{formatMessage (intlGet 'messages.copyright_holder') count=copyright_holder_count}}: {{#if details.copyright_holders}}{{{join details.copyright_holders ", "}}}{{else}} --- {{/if}}</div>
                        </div>
                    </div>
                    {{#if details.original_channels}}
                    <div class="row info-row channels">
                        <div class="col-xs-12" id="original_channels">
                            <p>{{formatMessage (intlGet 'messages.original_channels')}}</p>
                            <ul class="list-unstyled">
                            {{#each details.original_channels}}
                                <li class="original_channel row">
                                    <a href="/channels/{{id}}/view" target="_blank">
                                        <div class="col-xs-2"><img src="{{#if thumbnail}}{{thumbnail}}{{else}}{{/if}}"></div>
                                        <div class="col-xs-10"><span data-toggle="tooltip" data-placement="top" data-container="body" title="{{formatMessage (intlGet 'messages.resource_count') count=count}}">{{name}}</span></div>
                                    </a>
                                </li>
                            {{/each}}
                            </ul>
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
        {{/if}}
        {{#if channel.published}}
            <div role="tabpanel" class="tab-pane fade container-fluid section" id="use-section">
                <div class="information">
                    <div class="row info-row">
                        <p>{{formatMessage (intlGet 'messages.copy_text')}}</p>
                        {{#if channel.secret_tokens}}
                            <div class="row">
                                <div class="col-xs-4 text-right identifier_label">
                                    <label>{{formatMessage (intlGet 'messages.channel_tokens') count=token_count}}:</label>
                                    <span>{{formatMessage (intlGet 'messages.recommended')}}</span>
                                </div>
                                <div class="col-xs-8">
                                    {{#each channel.secret_tokens}}
                                        {{#equal token ../channel.id}}{{else}}
                                            <input type="text" class="copy-id-text text-center" value="{{display_token}}" readonly size='30' id="text_{{display_token}}"/>
                                            <i class="material-icons copy-id-btn" title="{{formatMessage (intlGet 'messages.copy')}}" data-text="#text_{{display_token}}">content_paste</i>
                                        {{/equal}}
                                    {{/each}}
                                </div>
                            </div>
                        {{/if}}
                        <div class="row">
                            <div class="col-xs-4 text-right identifier_label">
                                <label>{{formatMessage (intlGet 'messages.channel_id')}}:</label>
                            </div>
                            <div class="col-xs-8">
                                <input type="text" class="copy-id-text text-center" value="{{channel.id}}" readonly size='30' id="text_{{channel.id}}"/>
                                <i class="material-icons copy-id-btn" title="{{formatMessage (intlGet 'messages.copy')}}" data-text="#text_{{channel.id}}">content_paste</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}
        </div>
    </div>
</div>