<div class="col-xs-4 truncate channel_name_wrapper" title="{{name}} (Created {{#format_date created }}{{/format_date}}, Last Updated {{#format_date modified }}{{/format_date}})">
	{{#if deleted}}<i>{{else}}<a href="/channels/{{id}}/edit" target="_blank">{{/if}}
		<div class="channel_name truncate">{{ name }}</div>
	{{#if deleted}}</i>{{else}}<span class="glyphicon glyphicon-new-window action-text name_icon" title="Open in new tab" aria-hidden="true"></span></a>{{/if}}
</div>
<div class="col-xs-3" title="{{id}}">
	<input type="text" value="{{id}}" class="channel_id" readonly/>&nbsp;
	<a class="action-text copy_id"><span class="glyphicon glyphicon-copy" aria-hidden="true" title="Copy"></span></a>
</div>
<div class="col-xs-1 text-center">
	{{#if editors}}
		<a tabindex="0" class="popover_link action-text" data-id="#admin_editors_{{id}}">{{#format_count "Editor" editors.length}}{{/format_count}}</a>
	{{else}}None
	{{/if}}
</div>
<div class="col-xs-1 text-center">
	{{#if viewers}}
		<a tabindex="0" class="popover_link action-text" data-id="#admin_viewers_{{id}}">{{#format_count "Viewer" viewers.length}}{{/format_count}}</a>
	{{else}}None
	{{/if}}
</div>
<div class="col-xs-2 text-center">
	{{#if count}}
		<a tabindex="0" class="popover_link action-text" data-id="#admin_counts_{{id}}">{{#format_count "Item" count}}{{/format_count}}</a>
	{{else}}None
	{{/if}}
</div>
<div class="col-xs-1 text-center">
	<div class="btn-group btn-group-justified" role="group">
		{{#if deleted}}
			<div class="btn-group" role="group">
				<button class="btn option btn-green restore_button" title="Restore"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
			</div>
			<div class="btn-group" role="group">
				<button class="btn option btn-red delete_button" title="Delete Permanently"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
			</div>
		{{else}}
			<div class="btn-group" role="group">
				{{#if can_edit}}<button class="btn option btn-blue disabled" title="You already have edit access to this channel"><span class="glyphicon glyphicon-plus" aria-hidden="true" disabled></span></button>
				{{else}}<button class="btn option btn-blue join_button" title="Join Editors"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
				{{/if}}
			</div>
			<div class="btn-group" role="group">
			{{#if ricecooker_version}}
				{{#if staging_tree}}<a href="/channels/{{id}}/staging" target="_blank" class="btn option btn-yellow review_button" title="Review"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
				{{else}}<button class="btn option btn-yellow disabled" title="No updates to review" disabled><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
				{{/if}}
			{{else}}
				{{#if public}}<button class="btn option btn-green public_button" title="Public (click to make private)"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></button>
				{{else}}<button class="btn option btn-gray private_button" title="Private (click to make public)"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></button>
				{{/if}}
			{{/if}}
			</div>
		{{/if}}
	</div>
</div>

<div class="popover" tabindex="0" role="popover" id="admin_editors_{{id}}">
	<div class="arrow"></div>
	<div class="popover-content">
		<ul class="list-unstyled">
			{{#each editors}}
				<li title="{{first_name}} {{last_name}}" class="truncate"><span class="glyphicon glyphicon-user content_icon"></span> {{first_name}} {{last_name}}</li>
			{{/each}}
		</ul>
	</div>
</div>

<div class="popover" tabindex="0" role="popover" id="admin_viewers_{{id}}">
	<div class="arrow"></div>
	<div class="popover-content">
		<ul class="list-unstyled">
			{{#each viewers}}
				<li title="{{first_name}} {{last_name}}" class="truncate"><span class="glyphicon glyphicon-user content_icon"></span> {{first_name}} {{last_name}}</li>
			{{/each}}
		</ul>
	</div>
</div>

<div class="popover" tabindex="0" role="popover" id="admin_counts_{{id}}">
	<div class="arrow"></div>
	<div class="popover-content">
		<ul class="list-unstyled">
			{{#each kind_count}}
				<li><span class="{{#get_icon kind_id}}{{/get_icon}} content_icon"></span> {{#format_count kind_id count true}}{{/format_count}}</li>
			{{/each}}
		</ul>
	</div>
</div>

