<div class="col-xs-3">
	<input type="checkbox" class="user_select_checkbox" id="admin_user_check_{{id}}"/>
	<label for="admin_user_check_{{id}}" class="full_name">
		{{#if is_active}}
			{{#if is_admin}}<i class="material-icons icon admin_icon" title="Admin">star</i>&nbsp;{{/if}}
			<span title="{{first_name}} {{last_name}} (Joined {{#format_date date_joined}}{{/format_date}})">{{first_name}} {{last_name}}</span>
		{{else}}
			{{#if first_name}}<span title="User has not activated account">{{first_name}} {{last_name}}</span>
			{{else}}<span title="User has not set up account (invited by another user)"><i>Anonymous</i></span>
			{{/if}}
		{{/if}}
	</label>
</div>
<div class="col-xs-2">
	<a class="email_user">
		<div class="user_name truncate">{{ email }}</div>
	</a>
</div>
<div class="col-xs-2 text-center">
	<input type="number" class="size_limit" min=0 value="{{mb_space.size}}"/>
	<select class="size_unit">
		<option value="1" {{#equal mb_space.unit 'B'}}selected{{/equal}}>B</option>
		<option value="1024" {{#equal mb_space.unit 'KB'}}selected{{/equal}}>KB</option>
		<option value="1048576" {{#equal mb_space.unit 'MB'}}selected{{/equal}}>MB</option>
		<option value="1073741824" {{#equal mb_space.unit 'GB'}}selected{{/equal}}>GB</option>
		<option value="1099511627776" {{#equal mb_space.unit 'TB'}}selected{{/equal}}>TB</option>
	</select>
</div>
<div class="col-xs-2 text-center">
	{{#if editable_channels}}
		<a tabindex="0" class="popover_link action-text" data-id="#admin_edit_channels_{{id}}">{{{format_count "Channel" editable_channels.length}}}</a>
	{{else}}None
	{{/if}}
</div>
<div class="col-xs-2 text-center">
	{{#if view_only_channels}}
		<a tabindex="0" class="popover_link action-text" data-id="#admin_view_channels_{{id}}">{{{format_count "Channel" view_only_channels.length}}}</a>
	{{else}}None
	{{/if}}
</div>
<div class="col-xs-1 text-center">
	<div class="btn-group btn-group-justified" role="group">
		{{#if is_active}}
			<div class="btn-group" role="group">
				<button class="btn option btn-blue email_button" title="Send Email"><i class="material-icons">email</i></button>
			</div>
			{{#unless is_admin}}
			<div class="btn-group" role="group">
				<button class="btn option btn-red deactivate_button" title="Deactivate"><i class="material-icons">not_interested</i></button>
			</div>
			{{/unless}}
		{{else}}
			<div class="btn-group" role="group">
			{{#if first_name}}
				<button class="btn option btn-green activate_button" title="Activate Account"><i class="material-icons">new_releases</i></button>
			{{else}}<button class="btn option btn-green disabled" title="User must set up account before activating (invitation pending)" disabled><i class="material-icons">new_releases</i></button>
			{{/if}}
			</div>

			<div class="btn-group" role="group">
				<button class="btn option btn-red delete_button" title="Remove User"><i class="material-icons">clear</i></button>
			</div>
		{{/if}}
	</div>
</div>

<div class="popover" tabindex="0" role="popover" id="admin_edit_channels_{{id}}">
	<div class="arrow"></div>
	<div class="popover-content">
		<ul class="list-unstyled">
			{{#each editable_channels}}<li class="truncate" title="{{name}}"><i class="material-icons content_icon">{{#if public}}public{{else}}lock{{/if}}</i> {{name}}</li>{{/each}}
		</ul>
	</div>
</div>

<div class="popover" tabindex="0" role="popover" id="admin_view_channels_{{id}}">
	<div class="arrow"></div>
	<div class="popover-content">
		<ul class="list-unstyled">
			{{#each view_only_channels}}<li class="truncate" title="{{name}}"><i class="material-icons content_icon">{{#if public}}public{{else}}lock{{/if}}</i> {{name}}</li>{{/each}}
		</ul>
	</div>
</div>

