<div class="col-xs-4">
	{{#if is_active}}{{first_name}} {{last_name}}
	{{else}}<i title="User has not activated account">Anonymous</i>
	{{/if}}
</div>
<div class="col-xs-2">
	<a class="email_user">
		<div class="user_name truncate">{{ email }}</div>
		<span class="glyphicon glyphicon-envelope action-text name_icon" title="Send Email" aria-hidden="true"></span>
	</a>
</div>
<div class="col-xs-2 text-center">
	{{#if editable_channels}}
		<a tabindex="0" class="popover_link action-text" data-id="#admin_edit_channels_{{id}}">{{#format_count "Channel" editable_channels.length}}{{/format_count}}</a>
	{{else}}None
	{{/if}}
</div>
<div class="col-xs-2 text-center">
	{{#if view_only_channels}}
		<a tabindex="0" class="popover_link action-text" data-id="#admin_view_channels_{{id}}">{{#format_count "Channel" view_only_channels.length}}{{/format_count}}</a>
	{{else}}None
	{{/if}}
</div>

<div class="popover" tabindex="0" role="popover" id="admin_edit_channels_{{channel.id}}">
	<div class="arrow"></div>
	<div class="popover-content">
		<ul class="list-unstyled">
			{{#each editable_channels}}<li class="truncate">{{name}}</li>{{/each}}
		</ul>
	</div>
</div>

<div class="popover" tabindex="0" role="popover" id="admin_view_channels_{{channel.id}}">
	<div class="arrow"></div>
	<div class="popover-content">
		<ul class="list-unstyled">
			{{#each view_only_channels}}<li class="truncate">{{name}}</li>{{/each}}
		</ul>
	</div>
</div>

