<div class="move_item_wrapper {{#if is_disabled}}disabled{{/if}}" {{#if is_disabled}}title="Cannot move to selected topics"{{/if}}>
	{{#if is_target}}<input type="radio" id="move_item_{{node.id}}_check" class="move_checkbox" name="target_radio_list" {{#if is_disabled}}disabled{{/if}}></input>{{/if}}
	<label for="move_item_{{node.id}}_check" class="move_item {{#if is_target}}dblclick_toggle{{else}}{{#if node.children}}tog_folder{{/if}}{{/if}}" {{#unless is_disabled}}title="{{node.title}}"{{/unless}}>
		{{#if has_descendants}}
			{{#unless is_disabled}}
				<div id="menu_toggle_{{node.id}}" class="tog_folder pull-right glyphicon glyphicon-triangle-top"></div>
			{{/unless}}
		{{/if}}
		{{#unless isfolder}}<div class="glyphicon glyphicon-{{#get_icon node.kind}}{{/get_icon}}"></div>{{/unless}}
		<div class="move_item_title truncate">{{node.title}}</div>
	</label>
</div>

{{#if node.children}}
	<div id="move_item_{{node.id}}_sub" class="subdirectory"><em class="default-item">Loading...</em></div>
{{/if}}