<div class="pull-right is_selected"><i class="material-icons">arrow_forward</i></div>
<div class="channel-container-wrapper open_channel"  title="{{channel.name}} {{formatMessage (intlGet 'messages.channel_title_prompt')}}">
	<div class="profile pull-left text-center">
			{{#if picture}}
				<img class="channel_pic" alt="{{channel.name}} logo" src="{{picture}}"/>
			{{/if}}
	</div>
		<span class="channel_metadata">
			{{#if language}}<div class="channel_language truncate" title="{{language.attributes.readable_name}}">{{language.attributes.readable_name}}</div>&nbsp;|&nbsp;{{/if}}
			<span class="resource_count">{{formatMessage (intlGet 'messages.resource_count') count=resource_count}}</span>
			&nbsp;|&nbsp;{{formatMessage (intlGet 'messages.id')}}
			{{#if channel.published}}
				<input type="text" class="copy-id-text text-center" value="{{channel.id}}" readonly size='30'/>
				<!-- <input type="text" class="copy-id-text text-center" value="{{channel.primary_token}}" readonly size='30'/> -->
				<i class="material-icons copy-id-btn" title="{{formatMessage (intlGet 'messages.copy_id')}}">content_paste</i>
			{{else}}<em>({{formatMessage (intlGet 'messages.unpublished')}})</em>
			{{/if}}
		</span>
		<h4>
			{{#if channel.is_bookmarked}}
				<i data-toggle="tooltip" data-placement="top" title="{{formatMessage (intlGet 'messages.unstar_channel')}}" class="material-icons disable-on-edit pull-right channel_option_icon star_option unstar_channel">star</i>
			{{else}}
				<i data-toggle="tooltip" data-placement="top" title="{{formatMessage (intlGet 'messages.star_channel')}}" class="material-icons disable-on-edit pull-right channel_option_icon star_option star_channel">star_border</i>
			{{/if}}
			<p class="truncate channel_name">{{channel.name}}</p>
		</h4>
		<div class="description">
			<p id="channel_description" class="wordwrap">{{channel.description}}</p>
		</div>
		<div class="container-fluid updated_time">
			{{formatMessage (intlGet 'messages.last_updated') updated=(formatRelative modified)}}
		</div>
</div>
