<div class="profile pull-left text-center">
	{{#if edit}}
		<img class="new_channel_pic construction" alt="Drag picture here (under construction)"></img>
	{{else}}
		<img id="channel_pic" alt="No picture found."></img>
	{{/if}}
</div>
{{#if edit}}
	<!--<span class="channel_toggle pull-right glyphicon glyphicon-remove"></span>-->
		<input type=text id="new_channel_name" placeholder="Channel Name" value = "{{channel.name}}"></input>
	<textarea id="new_channel_description" placeholder="Channel Description" value="{{channel.description}}">{{channel.description}}</textarea>
	<div class="channel_options">
		<a class="delete_channel <!--btn btn-default-->">
			<!--<span class="glyphicon glyphicon-trash"></span>--> 
			DELETE
		</a>
		<a class="channel_toggle action-text">CANCEL</a>
		<a class="save_channel btn pull-right">
			{{#if edit}}SAVE{{else}}CREATE CHANNEL{{/if}}
		</a>
	</div>
{{else}}
	<div  class="pull-right manage_area">
		<a class="btn open_channel" href="{{channel.id}}/edit">MANAGE</a>
	</div>
	<span class="channel_metadata">
		<span class="resource_count">0</span> Resources 
		<!--<span class="exercise_count">0</span> Exercises
		
		<span class="exercise_count">0</span>--><span class="glyphicon glyphicon-file" aria-hidden="true"></span>{{#format_file_size total_file_size}}{{/format_file_size}}
	</span>
	<h4>
		<span id="channel_name" title="{{channel.name}}">{{channel.name}}</span>
		<span class="edit_channel disable-on-edit glyphicon glyphicon-pencil"></span>
	</h4>
	<div class="description">
		<p id="channel_description" class="wordwrap" title="{{channel.description}}">{{channel.description}}</p>
	</div>
	<div class="tag_area">
		<ul class="list-unstyle list-inline">
		{{#each tag_list}}
			<li>{{name}}</li>
		{{/each}}
		</ul>
	</div>
{{/if}}