<li class="channel_editor" id="new_item_{{index}}">
	<div class="profile pull-left text-center">
		<form action="/file-upload" class="dropzone" id="picture-upload">
		  <div class="fallback">
			<img class="new_channel_pic" alt="Drag picture here"></img>
		  </div>
		</form>
		<a class="delete_channel btn btn-default">
			<span class="glyphicon glyphicon-trash"></span> 
			Delete Channel
		</a>
	</div>
	<span class="channel_toggle pull-right glyphicon glyphicon-remove"></span>
	<input type=text id="new_channel_name" placeholder="Channel Name" value = "{{channel.title}}"></input>
	<textarea id="new_channel_description" placeholder="Channel Description" value = "{{channel.description}}">{{channel.description}}</textarea>
	<a class="save_channel btn btn-default">
		{{#if edit}}Update Channel{{else}}Create Channel{{/if}}
	</a>
</li>