<li class="channel_container">
	<div class="profile pull-left text-center">
		<img id="channel_pic" alt="No picture found."></img>
		<a class="delete_channel btn btn-default">
			<span class="glyphicon glyphicon-trash"></span> 
			Delete Channel
		</a>
	</div>
	<a  class="open_channel pull-right" href="{{channel.id}}/edit"">
		<span class="glyphicon glyphicon-chevron-right"></span>
	</a>
	<h2>
		<span id="channel_name" title="{{channel.name}}">{{channel.name}}</span>
		<span class="edit_channel glyphicon glyphicon-pencil"></span>
	</h2>
	<p id="channel_description" title="{{channel.description}}">
		{{channel.description}}
	</p>
</li>