<div class="col-xs-8 pending_text truncate">
	{{invitation.sender.first_name}} {{invitation.sender.last_name}} has invited you to {{invitation.share_mode}}
	<b title="{{invitation.channel_name}}">{{invitation.channel_name}}</b>
</div>
<div class="col-xs-2"><div class="btn btn-pending accept_invite"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> &nbsp;ACCEPT</div></div>
<div class="col-xs-2"><div class="btn btn-pending decline_invite"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> &nbsp;DECLINE</div></div>