<div class="input-tab-control" tabindex="1" data-next=".save_channel"></div>
<div class="input-tab-control" tabindex="7" data-next="#new_channel_name"></div>
<div class="channel-container-wrapper {{#unless edit}}open_channel{{/unless}}">
	<div class="profile pull-left text-center">
		{{#if edit}}
			<div class="new_channel_pic"></div>
		{{else}}
			{{#if picture}}
				<img class="channel_pic" alt="{{channel.name}} logo" src="{{picture}}"/>
			{{/if}}
		{{/if}}
	</div>
	{{#if edit}}
		<p id="channel_name_error">Channel must have a name</p>
		<input type="text" id="new_channel_name" placeholder="Channel Name" value = "{{channel.name}}" maxlength="200" tabindex='2'></input>
		<textarea id="new_channel_description" placeholder="Channel Description" value="{{channel.description}}"  maxlength="400" tabindex='3'>{{channel.description}}</textarea>
		<a class="delete_channel">DELETE CHANNEL</a>
		<div class="channel_options">
			<a class="save_channel btn pull-right" tabindex='5'>SAVE</a>
			<a class="channel_toggle action-text pull-right"  tabindex='6'>CANCEL</a>
		</div>
	{{else}}
		<span class="channel_metadata">
			<span class="resource_count">{{resource_count}}</span> Resource(s)
			<span class="glyphicon glyphicon-file resource-icon" aria-hidden="true"></span>{{#format_file_size total_file_size}}{{/format_file_size}}
			&nbsp;ID:
			{{#if channel.published}}
				<input type="text" class="copy-id-text text-center" value="{{channel.id}}" readonly size='30'/>
				<span class="glyphicon glyphicon-copy copy-id-btn" aria-hidden="true" title="Copy ID to clipboard"></span>
			{{else}}<em>(Unpublished)</em>
			{{/if}}
			{{#if channel.view_only}}
				<b class="pull-right">&nbsp;View Only</b>
			{{/if}}
		</span>
		<h4>
			{{#unless channel.view_only}}
				<span class="edit_channel disable-on-edit glyphicon glyphicon-pencil pull-right"></span>
			{{/unless}}
			<p class="truncate channel_name" title="{{channel.name}}">{{channel.name}}</p>
		</h4>
		<div class="description">
			<p id="channel_description" class="wordwrap" title="{{channel.description}}">{{channel.description}}</p>
		</div>
		<div class="tag_area">
			<ul class="list-unstyle list-inline">
			{{#each tag_list}}
				<li>{{name}}</li>
			{{/each}}
			</ul>
		</div>
	{{/if}}
</div>