<div class="input-tab-control tab_item" data-next="#settings_submit"></div>
<div id="channel_settings_dialog" class="modal-content-default">
    <div class="profile text-center pull-left"><div class="new_channel_pic" id="channel_thumbnail"></div></div>
    <div class="channel_section">
        <div class="language_wrapper container-fluid">
            <select id="select_language" class="tab_item input_listener pull-right">
                <option disabled selected value=0>{{formatMessage (intlGet 'messages.select_language')}}</option>
                {{#each languages}}<option value="{{id}}" title="{{readable_name}}">{{readable_name}}</option>{{/each}}
            </select>
        </div>
        <h4>{{formatMessage (intlGet 'messages.channel_name')}} <label class="required">*<span id="channel_error">{{formatMessage (intlGet 'messages.channel_name_error')}}</span></label></h4>
        <input type="text" id="input_title" class="upload_input input_listener tab_item first_focus_item" placeholder="{{formatMessage (intlGet 'messages.channel_name_placeholder')}}" maxlength="200" value="{{channel.name}}" required/>
        <h4>{{formatMessage (intlGet 'messages.channel_description')}}</h4>
        <textarea type="text" id="input_description" class="upload_input input_listener tab_item" placeholder="{{formatMessage (intlGet 'messages.description_placeholder')}}" maxlength="400" value="{{channel.description}}">{{channel.description}}</textarea>
    </div>
    <hr/>
    <h3>{{formatMessage (intlGet 'messages.content_defaults')}}</h3>
    <p><em>{{formatMessage (intlGet 'messages.content_defaults_prompt')}}</em></p>
    <div class="section">
        <h4>{{formatMessage (intlGet 'messages.author')}} <i class="material-icons help_icon" data-toggle="tooltip" data-placement="top" title="{{formatMessage (intlGet 'messages.author_description')}}">help_outline</i></h4>
        <input type="text" id="author_field" class="upload_input input_listener tab_item" value="{{preferences.author}}" placeholder="{{formatMessage (intlGet 'messages.author_placeholder')}}"/>
        <div class="row">
            <div class="content_nodes_only col-sm-6">
                <h4>{{formatMessage (intlGet 'messages.provider')}} <i class="material-icons help_icon" data-toggle="tooltip" data-placement="top" title="{{formatMessage (intlGet 'messages.provider_description')}}">help_outline</i></h4>
                <input type="text" id="provider_field" class="upload_input input_listener tab_item" value="{{preferences.provider}}" placeholder="{{formatMessage (intlGet 'messages.provider_placeholder')}}"/>
            </div>
            <div class="content_nodes_only col-sm-6">
                <h4>{{formatMessage (intlGet 'messages.aggregator')}} <i class="material-icons help_icon" data-toggle="tooltip" data-placement="top" title="{{formatMessage (intlGet 'messages.aggregator_description')}}">help_outline</i></h4>
                <input type="text" id="aggregator_field" class="upload_input input_listener tab_item" value="{{preferences.aggregator}}" placeholder="{{formatMessage (intlGet 'messages.aggregator_placeholder')}}"/>
            </div>
        </div>
        <div class="row">
            <div class="content_nodes_only col-sm-6">
                <h4>{{formatMessage (intlGet 'messages.license')}}</h4>
                <select id="license_select" class="input_listener tab_item">
                    <option value=0>{{formatMessage (intlGet 'messages.no_license')}}</option>
                    {{#each licenses}}
                        <option value={{id}}>{{#translate license_name}}{{/translate}}</option>
                    {{/each}}
                </select>
                <textarea id="custom_license_description" class="input_listener tab_item" placeholder="{{formatMessage (intlGet 'messages.license_description_placeholder')}}" value={{preferences.license_description}}>{{preferences.license_description}}</textarea>
            </div>
            <div class="content_nodes_only col-sm-6">
                <h4>{{formatMessage (intlGet 'messages.copyright_holder')}}</h4>
                <input type="text" id="input_copyright_holder" class="copyright_input input_listener tab_item" placeholder="{{formatMessage (intlGet 'messages.copyright_holder_placeholder')}}" maxlength="200" value="{{preferences.copyright_holder}}"/>
            </div>
        </div>
        <h4>{{formatMessage (intlGet 'messages.exercise_criteria')}}</h4>
        <div>
            <select id="mastery_model_select" class="input_listener tab_item">
                <option value="num_correct_in_a_row_2" selected>{{#translate "num_correct_in_a_row_2"}}{{/translate}}</option>
                <option value="num_correct_in_a_row_3" selected>{{#translate "num_correct_in_a_row_3"}}{{/translate}}</option>
                <option value="num_correct_in_a_row_5">{{#translate "num_correct_in_a_row_5"}}{{/translate}}</option>
                <option value="num_correct_in_a_row_10">{{#translate "num_correct_in_a_row_10"}}{{/translate}}</option>
                <option value="do_all">{{#translate "do_all"}}{{/translate}}</option>
                <option value="m_of_n">{{#translate "m_of_n"}}{{/translate}}</option>
            </select>
            <span id="mastery_custom_criterion">
                <input type="number" class="input_listener tab_item" id="m_value" min="1" max="20" value="{{preferences.m_value}}" maxlength="2" size="2"/>
                &nbsp;{{formatMessage (intlGet 'messages.of')}}&nbsp;
                <input type="number" class="input_listener tab_item" id="n_value" min="1" max="20" value="{{preferences.n_value}}" maxlength="2" size="2"/>
            </span>
        </div>
        <div>
            <input id="auto_randomize_questions" class="input_listener tab_item" type="checkbox" {{#if preferences.auto_randomize_questions}}checked{{/if}}/>
            <label for="auto_randomize_questions">&nbsp;{{formatMessage (intlGet 'messages.randomize_question_order')}}</label>
        </div>
        <br/>
        <h4>{{formatMessage (intlGet 'messages.auto_thumbnail')}}</h4>
        <input type="checkbox" class="input_listener tab_item thumbnail_option" id="auto_video_thumbnail" {{#if preferences.auto_derive_video_thumbnail}}checked{{/if}}><label for="auto_video_thumbnail">{{formatMessage (intlGet 'messages.videos')}}</label>
        <input type="checkbox" class="input_listener tab_item thumbnail_option" id="auto_audio_thumbnail" {{#if preferences.auto_derive_audio_thumbnail}}checked{{/if}}><label for="auto_audio_thumbnail">{{formatMessage (intlGet 'messages.audio')}}</label>
        <input type="checkbox" class="input_listener tab_item thumbnail_option" id="auto_html5_thumbnail" {{#if preferences.auto_derive_html5_thumbnail}}checked{{/if}}><label for="auto_html5_thumbnail">{{formatMessage (intlGet 'messages.html')}}</label>
        <input type="checkbox" class="input_listener tab_item thumbnail_option" id="auto_document_thumbnail" {{#if preferences.auto_derive_document_thumbnail}}checked{{/if}}><label for="auto_document_thumbnail">{{formatMessage (intlGet 'messages.documents')}}</label>
    </div>
</div>
<div class="modal-bottom-content-default">
    <a class="action-text tab_item" data-dismiss="modal">{{formatMessage (intlGet 'messages.close')}}</a>
    <button disabled class="disabled action-button pull-right modal-main-action-button tab_item" id="settings_submit">
        {{formatMessage (intlGet 'messages.no_changes_detected')}}
    </button>
</div>
<div class="input-tab-control tab_item" data-next="#input_title"></div>