<div id="metadata">
	<div class="section pull-left tree_section" id="topic_tree_selector"></div>
	<ul class="nav nav-tabs" role="tablist" id="metadata_tabs">
		<li role="presentation" class="active"><a class="tab_button" href="#metadata_edit_details" aria-controls="metadata_edit_details" role="tab" data-toggle="tab" id="metadata_details_btn">{{formatMessage (intlGet 'messages.details')}}</a></li>
		<li role="presentation"><a class="tab_button" href="#metadata_questions" aria-controls="metadata_questions" role="tab" data-toggle="tab" id="metadata_questions_btn">{{formatMessage (intlGet 'messages.questions')}} <span class="question_badge badge">{{formatMessage (intlGet 'messages.loading')}}</span></a></li>
		<li role="presentation"><a class="tab_button" href="#metadata_preview" aria-controls="metadata_preview" role="tab" data-toggle="tab" id="metadata_preview_btn">{{formatMessage (intlGet 'messages.preview')}}</a></li>
		{{#unless isclipboard}}<li role="presentation"><a class="tab_button" href="#metadata_prerequisites" aria-controls="metadata_prerequisites" role="tab" data-toggle="tab" id="metadata_prerequisites_btn">{{formatMessage (intlGet 'messages.prereqs')}} <span class="prereq_badge badge">{{formatMessage (intlGet 'messages.loading')}}</span></a></li>{{/unless}}
	</ul>
	<div class="input-tab-control tab_item" data-next="{{#if allow_edit}}#upload_save_finish_button{{else}}#copy_button{{/if}}"></div>
	<div  class="metadata_panel tab-content">
		<div id="metadata_edit_details" class="input_area tab_panel tab-pane active" role="tabpanel">
			<div class="section pull-left edit_details_section">
				<div id="edit_details_wrapper"><div id="metadata_placeholder" class="container-fluid text-center">{{formatMessage (intlGet 'messages.loading_content')}}</div></div>
			</div>
		</div>
		<div id="metadata_questions" class="container-fluid tab_panel tab-pane" role="tabpanel"></div>
		<div id="metadata_preview" class="container-fluid tab_panel tab-pane" role="tabpanel"></div>
		<div id="metadata_prerequisites" class="container-fluid tab_panel tab-pane" role="tabpanel"></div>
	</div>
	<br/>
	{{#if allow_edit}}
	<div class="metadata_save_buttons container-fluid">
		<div class="pull-right">
			<button id="upload_save_button" class="disable_on_error editmetadata_save tab_item">{{formatMessage (intlGet 'messages.save')}}</button>
			<button class="btn btn-default disable_on_error editmetadata_save tab_item" id="upload_save_finish_button">{{formatMessage (intlGet 'messages.save_and_close')}}</button>
		</div>
		<!-- <button class="action-text tab_item uppercase" data-dismiss="modal" aria-label="Close" id="close_uploader_button">{{formatMessage (intlGet 'messages.close')}}</button> -->
	</div>
	{{else}}
	<div class="metadata_copy_buttons container-fluid">
		{{#unless staging}}
		<div class="pull-right">
			<button class="btn btn-default action-button tab_item uppercase" id="copy_button">{{formatMessage (intlGet 'messages.copy')}}</button>
		</div>
		{{/unless}}
		<!-- <button class="disable_on_error action-text tab_item uppercase" id="close_uploader_button">{{formatMessage (intlGet 'messages.close')}}</button> -->
	</div>
	{{/if}}
	<div class="input-tab-control tab_item" data-next="{{#if allow_edit}}#select_language{{else}}{{#if staging}}#close_uploader_button{{else}}#copy_button{{/if}}{{/if}}"></div>
</div>
