{{#if none_selected}}
	<div id="uploader-default-prompt" class="text-center container-fluid">Please select an item to view.</div>
{{else}}
	{{#unless node}}
		<h5 id="uploader-count-message">Viewing data for {{selected_count}} items.</h5>
		{{#unless isoriginal}}<p class="text-center uploader-copied-warning"><i>Detected item(s) imported from another channel</i></p>{{/unless}}
	{{/unless}}
	{{#if node}}
		<div id="editmetadata_format_section"></div>
		<hr/>
		<br/>
		<h4>Title</h4>
		<p class="detail_field wordwrap">{{#if node.title}}{{node.title}}{{else}}<span class="default_detail_field">---</span>{{/if}}</p>
	{{/if}}
	{{#if is_exercise}}
		<h4>Mastery Criteria <span class="glyphicon glyphicon glyphicon-info-sign" aria-hidden="true" id="mastery_about"></span></h4>
		<p class="detail_field" id="mastery_detail_field">{{#if mastery}}{{mastery}}{{else}}<span class="default_detail_field">---</span>{{/if}}</p>
	{{/if}}
	{{#if is_file}}
		<hr/>
		{{#unless isoriginal}}<p class="uploader-copied-warning">Imported from <b>{{node.original_channel.name}}</b></p>{{/unless}}
		<div class="row">
			<div class="col-xs-3  text-center">
				<h4>Author</h4>
				<p class="detail_field wordwrap text-center">{{#if author}}{{author}}{{else}}<span class="default_detail_field">---</span>{{/if}}</p>
			</div>
			<div class="col-xs-5  text-center">
				<h4>License</h4>
				<p class="detail_field">
					<span id="license_detail_field">{{#if license}}{{license}}{{else}}<span class="default_detail_field">---</span>{{/if}}</span>
					<span class="glyphicon glyphicon glyphicon-info-sign" aria-hidden="true" id="license_about"></span>
				</p>
				<p id="custom_license_description" class="license_description_text">{{license_description}}</p>
			</div>
			<div class="col-xs-4  text-center">
				<h4>Copyright Holder</h4>
				<p class="detail_field wordwrap">{{#if copyright_owner}}{{copyright_owner}}{{else}}<span class="default_detail_field">---</span>{{/if}}</p>
			</div>
		</div>
		<hr/>
	{{/if}}
	{{#if node}}
		<h4>Description</h4>
		<p class="detail_field">{{#if node.description}}{{node.description}}{{else}}<span class="default_detail_field">---</span>{{/if}}</p>
		<hr/>
	{{/if}}
	<div class="ui-widget" id="tag_area_wrapper">
		<h4>Tags</h4>
		<div class="container-fluid">
			<p class="detail_field" id="tag_default_detail_field"><span class="default_detail_field">---</span></p>
			<div class="row view_only_tags" id="tag_area"></div>
		</div>
	</div>
{{/if}}