{{#if none_selected}}
	<div id="uploader-default-prompt" class="text-center container-fluid">Please select an item to edit.</div>
{{else}}
	{{#unless node}}
		<h5 id="uploader-count-message">Editing data for {{selected_count}} items.</h5>
		{{#unless isoriginal}}<p class="text-center uploader-copied-warning"><i>Detected item(s) imported from another channel - fields disabled accordingly</i></p>{{/unless}}
	{{/unless}}
	{{#if node}}
		<div id="editmetadata_format_section"></div>
		<hr/>
		<br/>
		<h4>Title<label class="required">*<span id="title_error">Title cannot be blank.</span></label></h4>
		<input type="text" id="input_title" class="upload_input input_listener tab_item" placeholder="Enter a title" maxlength="200" value="{{node.title}}" required/>
	{{/if}}
	{{#if is_exercise}}
		<h4>Mastery Criteria <label class="required">*</label></h4>
		<select id="mastery_model_select" class="tab_item">
			<option disabled value=0>---</option>
			<option value="num_correct_in_a_row_2" selected>2 in a Row</option>
			<option value="num_correct_in_a_row_3" selected>3 in a Row</option>
			<option value="num_correct_in_a_row_5">5 in a Row</option>
			<option value="num_correct_in_a_row_10">10 in a Row</option>
			<option value="do_all">100% Correct</option>
			<option value="m_of_n">M out of N...</option>
		</select>
		<span class="glyphicon glyphicon glyphicon-info-sign tab_item" aria-hidden="true" id="mastery_about"></span>
		<span id="mastery_custom_criterion">
			<input type="number" id="m_value" min="1" max="20" value="{{m_value}}" maxlength="2" size="2" class="tab_item"/>
			&nbsp;of&nbsp;
			<input type="number" id="n_value" min="1" max="20" value="{{n_value}}" maxlength="2" size="2" class="tab_item"/>
		</span>
		<br/>
		<br/>
	{{/if}}
	{{#if isoriginal}}
		{{#unless node}}<div class="input-tab-control tab_item" data-next="#author_field"></div>{{/unless}}
		<h4>Author</h4>
		<input type="text" id="author_field" class="upload_input input_listener tab_item" value="{{author}}" placeholder="Enter author name"/>
		{{#if is_file}}
		<div class="row">
			<div class="content_nodes_only col-sm-6">
				<h4>License <label class="required">*</label></h4>
				<select id="license_select" class="tab_item">
		            <option selected disabled value=0>---</option>
		            {{#each licenses}}
		                <option value={{id}}>{{license_name}}</option>
		            {{/each}}
		        </select>
		        <span class="glyphicon glyphicon glyphicon-info-sign tab_item" aria-hidden="true" id="license_about"></span>
		        <textarea id="custom_license_description" class="input_listener tab_item" placeholder="Enter license description"></textarea>
			</div>
			<div class="content_nodes_only col-sm-6">
				<h4>Copyright Holder</h4>
				<input type="text" id="input_license_owner" class="license_input input_listener tab_item" placeholder="Enter copyright holder name" maxlength="200"value="{{copyright_owner}}"/>
			</div>
		</div>
		{{/if}}
	{{else}}
		{{#if node}}
		<hr/>
		<p class="uploader-copied-warning">Read-Only: Imported from <b>{{node.original_channel.name}}</b></p>
		{{/if}}
		<div class="row">
			<div class="col-xs-3">
				<h4>Author</h4>
				<p class="upload_input">{{author}}</p>
			</div>
			<div class="col-xs-5">
				<h4>License</h4>
				<p class="upload_input">
					<span id="license_select">{{license}}</span>
					<span class="glyphicon glyphicon glyphicon-info-sign tab_item" aria-hidden="true" id="license_about" max-length=400></span>
				</p>
				<p id="custom_license_description" class="license_description_text">{{license_description}}</p>
			</div>
			<div class="col-xs-4">
				<h4>Copyright Holder</h4>
				<p class="upload_input">{{copyright_owner}}</p>
			</div>
		</div>
		<hr/>
		<br/>
	{{/if}}
	{{#if node}}
		<h4>Description {{#if node}}<i id="description_counter" class="pull-right">{{word_limit}} characters left</i>{{/if}}</h4>
		<textarea id="input_description" class="upload_input input_listener tab_item" placeholder="Enter a description of your content" value='{{node.description}}'>{{node.description}}</textarea>
	{{/if}}
		<div class="ui-widget" id="tag_area_wrapper">
		<h4>Tags (press 'Enter' to add new tag) <span id="tag_error">Invalid characters found.</span></h4>
		<input type="text" id="tag_box" class="tag_input tab_item" placeholder="Enter tag" maxlength="30"/>
		<div class="container-fluid">
			<div class="row" id="tag_area"></div>
		</div>
	</div>
{{/if}}
<div class="input-tab-control tab_item" data-next="#upload_save_button"></div>