<div id="editor_errors" class="alert alert-danger text-center" role="alert"></div>
{{#if none_selected}}
	<div id="uploader-default-prompt" class="text-center container-fluid">{{formatMessage (intlGet 'messages.select_to_edit')}}</div>
{{else}}
	{{#unless node}}
		<h5 id="uploader-count-message">{{formatMessage (intlGet 'messages.editing_count') count=selected_count}}</h5>
		{{#unless isoriginal}}<p class="text-center uploader-copied-warning"><i>{{formatMessage (intlGet 'messages.detected_import_disabled')}}</i></p>{{/unless}}
	{{/unless}}
	{{#if node}}
		<div id="editmetadata_format_section"></div>
		<hr/>
		<br/>
	{{/if}}
	<div class="row">
		<div class="col-xs-6">
			{{#if source_channel}}<div id="imported_from_field" class="truncate">{{formatMessage (intlGet 'messages.imported_from')}} <a href="/channels/{{source_channel.id}}/view{{#if node}}/{{node.original_source_node_id}}{{/if}}" target="_blank" title="{{source_channel.name}}" class="original_channel_link"><b>{{source_channel.name}}</b></a></div>{{/if}}
		</div>
		<div class="col-xs-6">
			<div class="pull-right">
				<label id="language_label">{{formatMessage (intlGet 'messages.language')}}</label>
				<select id="select_language" class="tab_item">
					<option value="inherit" selected>{{language_default}}</option>
					<option disabled value=0>---</option>
					{{#each languages}}<option value="{{id}}" title="{{readable_name}}">{{readable_name}}</option>{{/each}}
				</select>
			</div>
		</div>
	</div>
	{{#if node}}
		<h4>{{formatMessage (intlGet 'messages.title')}}<label class="required">*<span id="title_error">{{formatMessage (intlGet 'messages.title_error')}}</span></label></h4>
		<input type="text" id="input_title" class="upload_input input_listener tab_item" placeholder="{{formatMessage (intlGet 'messages.title')}} *" maxlength="200" value="{{node.title}}" required/>
	{{/if}}
	{{#if is_exercise}}
		<h4>{{formatMessage (intlGet 'messages.mastery_criteria')}} <label class="required">*</label></h4>
		<select id="mastery_model_select" class="tab_item">
			<option disabled value=0>---</option>
			{{#each mastery}}<option value="{{this}}" {{#equal this "num_correct_in_a_row_2"}}selected{{/equal}}>{{{translate this}}}</option>{{/each}}
		</select>
		<i class="material-icons tab_item help_icon" id="mastery_about">info</i>
		<span id="mastery_custom_criterion">
			<input type="number" id="m_value" min="1" max="20" value="{{m_value}}" maxlength="2" size="2" class="tab_item"/>
			&nbsp;{{formatMessage (intlGet 'messages.of')}}&nbsp;
			<input type="number" id="n_value" min="1" max="20" value="{{n_value}}" maxlength="2" size="2" class="tab_item"/>
		</span>
		<br/>
		<br/>
	{{/if}}
	{{#if isoriginal}}
		{{#if is_file}}
		<hr/>
		{{#unless node}}<div class="input-tab-control tab_item" data-next="#author_field"></div>{{/unless}}
		<div class="row">
			<div class="content_nodes_only col-sm-4">
				<h4>
					{{formatMessage (intlGet 'messages.author')}}
					<i class="material-icons help_icon" data-container="body" data-toggle="tooltip" data-placement="top" title="{{formatMessage (intlGet 'messages.author_description')}}">help_outline</i>
				</h4>
				<input type="text" id="author_field" class="upload_input input_listener tab_item autocomplete_item" value="{{author}}" placeholder="{{formatMessage (intlGet 'messages.author_placeholder')}}" maxlength="200" data-list="authors"/>
			</div>
			<div class="content_nodes_only col-sm-4">
				<h4>
					{{formatMessage (intlGet 'messages.provider')}}
					<i class="material-icons help_icon" data-container="body" data-toggle="tooltip" data-placement="top" title="{{formatMessage (intlGet 'messages.provider_description')}}">help_outline</i>
				</h4>
				<input type="text" id="provider_field" class="upload_input input_listener tab_item autocomplete_item" value="{{provider}}" placeholder="{{formatMessage (intlGet 'messages.provider_placeholder')}}" maxlength="200" data-list="providers"/>
			</div>
			<div class="content_nodes_only col-sm-4">
				<h4>
					{{formatMessage (intlGet 'messages.aggregator')}}
					<i class="material-icons help_icon" data-container="body" data-toggle="tooltip" data-placement="top" title="{{formatMessage (intlGet 'messages.aggregator_description')}}">help_outline</i>
				</h4>
				<input type="text" id="aggregator_field" class="upload_input input_listener tab_item autocomplete_item" value="{{aggregator}}" placeholder="{{formatMessage (intlGet 'messages.aggregator_placeholder')}}" maxlength="200" data-list="aggregators"/>
			</div>
		</div>
		<div class="row">
			<div class="content_nodes_only col-sm-6">
				<h4>{{formatMessage (intlGet 'messages.license')}} <label class="required">*</label></h4>
				<select id="license_select" class="tab_item">
		            <option selected disabled value=0>---</option>
		            {{#each licenses}}
		                <option value={{id}}>{{{translate license_name}}}</option>
		            {{/each}}
		        </select>
		        <i class="material-icons tab_item help_icon" id="license_about">info</i>
		        <textarea id="custom_license_description" class="input_listener tab_item" placeholder="{{formatMessage (intlGet 'messages.license_description_placeholder')}}"></textarea>
			</div>
			<div class="content_nodes_only col-sm-6">
				<div id="copyright_holder_wrapper">
					<h4>{{formatMessage (intlGet 'messages.copyright_holder')}} <label class="required">*</label></h4>
					<input type="text" id="input_license_owner" class="license_input input_listener tab_item autocomplete_item" placeholder="{{formatMessage (intlGet 'messages.copyright_holder_placeholder')}}" maxlength="200" value="{{copyright_owner}}" data-list="copyright_holders"/>
				</div>
			</div>
		</div>
		<hr/>
		{{/if}}
	{{else}}
		<hr/>
		{{#if node}}
		<p class="uploader-copied-warning">{{formatMessage (intlGet 'messages.readonly_text')}}</p>
		{{/if}}
		<div class="row">
			<div class="content_nodes_only col-sm-4">
				<h4>
					{{formatMessage (intlGet 'messages.author')}}
					<i class="material-icons help_icon" data-container="body" data-toggle="tooltip" data-placement="top" title="{{formatMessage (intlGet 'messages.author_description')}}">help_outline</i>
				</h4>
				<p class="upload_input">{{author}}</p>
			</div>
			<div class="content_nodes_only col-sm-4">
				<h4>
					{{formatMessage (intlGet 'messages.provider')}}
					<i class="material-icons help_icon" data-container="body" data-toggle="tooltip" data-placement="top" title="{{formatMessage (intlGet 'messages.provider_description')}}">help_outline</i>
				</h4>
				<p class="upload_input">{{provider}}</p>
			</div>
			<div class="content_nodes_only col-sm-4">
				<h4>
					{{formatMessage (intlGet 'messages.aggregator')}}
					<i class="material-icons help_icon" data-container="body" data-toggle="tooltip" data-placement="top" title="{{formatMessage (intlGet 'messages.aggregator_description')}}">help_outline</i>
				</h4>
				<p class="upload_input">{{aggregator}}</p>
			</div>
			<div class="col-xs-4">
				<h4>{{formatMessage (intlGet 'messages.license')}} <i class="material-icons tab_item help_icon" id="license_about">info</i></h4>
				<p class="upload_input">
					<span id="license_select">{{{translate license}}}</span>
				</p>
				<p id="custom_license_description" class="license_description_text">{{license_description}}</p>
			</div>
			<div class="col-xs-4">
				<h4>{{formatMessage (intlGet 'messages.copyright_holder')}}</h4>
				<p class="upload_input">{{copyright_owner}}</p>
			</div>
		</div>
		<hr/>
	{{/if}}
	<br/>
	{{#if is_file}}
	<h4>{{formatMessage (intlGet 'messages.role_visibility')}}</h4>
	<select id="role_select" class="tab_item">
		<option disabled value=0>---</option>
		{{#each roles}}<option value="{{this}}" selected>{{{translate this}}}</option>{{/each}}
	</select>&nbsp;
	<i class="material-icons tab_item help_icon" id="visibility_about">info</i>
	<br/>
	{{/if}}
	{{#if node}}
		<h4>{{formatMessage (intlGet 'messages.description')}} {{#if node}}<i id="description_counter" class="pull-right">{{formatMessage (intlGet 'messages.chars_left') data=word_limit}}</i>{{/if}}</h4>
		<textarea id="input_description" class="upload_input input_listener tab_item" placeholder="{{formatMessage (intlGet 'messages.description_placeholder')}}" value='{{node.description}}'>{{node.description}}</textarea>
	{{/if}}
		<div class="ui-widget" id="tag_area_wrapper">
		<h4>{{formatMessage (intlGet 'messages.tags')}} {{formatMessage (intlGet 'messages.tags_text')}} <span id="tag_error">{{formatMessage (intlGet 'messages.tags_error')}}</span></h4>
		<input type="text" id="tag_box" class="tag_input tab_item autocomplete_item" placeholder="{{formatMessage (intlGet 'messages.tags_placeholder')}}" maxlength="30"/>
		<div class="container-fluid">
			<div class="row" id="tag_area"></div>
		</div>
	</div>
{{/if}}
