{{#if none_selected}}
	<div id="uploader-default-prompt" class="text-center container-fluid">{{formatMessage (intlGet 'messages.select_to_edit')}}</div>
{{else}}
	{{#unless node}}
		<h5 id="uploader-count-message">{{formatMessage (intlGet 'messages.editing_count') count=selected_count}}</h5>
		{{#unless isoriginal}}<p class="text-center uploader-copied-warning"><i>{{formatMessage (intlGet 'messages.detected_import_disabled')}}</i></p>{{/unless}}
	{{/unless}}
	{{#if node}}
		<div id="editmetadata_format_section"></div>
		<hr/>
		<br/>
	{{/if}}
	<div class="pull-right">
		<label id="language_label">{{formatMessage (intlGet 'messages.language')}}</label>
		<select id="select_language" class="tab_item">
			<option value="inherit" selected>{{language_default}}</option>
			<option disabled value=0>---</option>
			{{#each languages}}<option value="{{id}}" title="{{readable_name}}">{{readable_name}}</option>{{/each}}
		</select>
	</div>
	{{#if node}}
		<h4>{{formatMessage (intlGet 'messages.title')}}<label class="required">*<span id="title_error">{{formatMessage (intlGet 'messages.title_error')}}</span></label></h4>
		<input type="text" id="input_title" class="upload_input input_listener tab_item" placeholder="{{formatMessage (intlGet 'messages.title')}} *" maxlength="200" value="{{node.title}}" required/>
	{{/if}}
	{{#if is_exercise}}
		<h4>{{formatMessage (intlGet 'messages.mastery_criteria')}} <label class="required">*</label></h4>
		<select id="mastery_model_select" class="tab_item">
			<option disabled value=0>---</option>
			<option value="num_correct_in_a_row_2" selected>{{#translate "num_correct_in_a_row_2"}}{{/translate}}</option>
			<option value="num_correct_in_a_row_3" selected>{{#translate "num_correct_in_a_row_3"}}{{/translate}}</option>
			<option value="num_correct_in_a_row_5">{{#translate "num_correct_in_a_row_5"}}{{/translate}}</option>
			<option value="num_correct_in_a_row_10">{{#translate "num_correct_in_a_row_10"}}{{/translate}}</option>
			<option value="do_all">{{#translate "do_all"}}{{/translate}}</option>
			<option value="m_of_n">{{#translate "m_of_n"}}{{/translate}}</option>
		</select>
		<span class="glyphicon glyphicon glyphicon-info-sign tab_item" aria-hidden="true" id="mastery_about"></span>
		<span id="mastery_custom_criterion">
			<input type="number" id="m_value" min="1" max="20" value="{{m_value}}" maxlength="2" size="2" class="tab_item"/>
			&nbsp;{{formatMessage (intlGet 'messages.of')}}&nbsp;
			<input type="number" id="n_value" min="1" max="20" value="{{n_value}}" maxlength="2" size="2" class="tab_item"/>
		</span>
		<br/>
		<br/>
	{{/if}}
	{{#if isoriginal}}
		{{#unless node}}<div class="input-tab-control tab_item" data-next="#author_field"></div>{{/unless}}
		<h4>{{formatMessage (intlGet 'messages.author')}}</h4>
		<input type="text" id="author_field" class="upload_input input_listener tab_item" value="{{author}}" placeholder="{{formatMessage (intlGet 'messages.author_placeholder')}}"/>
		{{#if is_file}}
		<div class="row">
			<div class="content_nodes_only col-sm-6">
				<h4>{{formatMessage (intlGet 'messages.license')}} <label class="required">*</label></h4>
				<select id="license_select" class="tab_item">
		            <option selected disabled value=0>---</option>
		            {{#each licenses}}
		                <option value={{id}}>{{#translate license_name}}{{/translate}}</option>
		            {{/each}}
		        </select>
		        <span class="glyphicon glyphicon glyphicon-info-sign tab_item" aria-hidden="true" id="license_about"></span>
		        <textarea id="custom_license_description" class="input_listener tab_item" placeholder="{{formatMessage (intlGet 'messages.license_description_placeholder')}}"></textarea>
			</div>
			<div class="content_nodes_only col-sm-6">
				<h4>{{formatMessage (intlGet 'messages.copyright_holder')}}</h4>
				<input type="text" id="input_license_owner" class="license_input input_listener tab_item" placeholder="{{formatMessage (intlGet 'messages.copyright_holder_placeholder')}}" maxlength="200" value="{{copyright_owner}}"/>
			</div>
		</div>
		{{/if}}
	{{else}}
		{{#if node}}
		<hr/>
		<p class="uploader-copied-warning">{{formatMessage (intlGet 'messages.readonly')}} <b>{{node.original_channel.name}}</b></p>
		{{/if}}
		<div class="row">
			<div class="col-xs-3">
				<h4>{{formatMessage (intlGet 'messages.author')}}</h4>
				<p class="upload_input">{{author}}</p>
			</div>
			<div class="col-xs-5">
				<h4>{{formatMessage (intlGet 'messages.license')}}</h4>
				<p class="upload_input">
					<span id="license_select">{{#translate license}}{{/translate}}</span>
					<span class="glyphicon glyphicon glyphicon-info-sign tab_item" aria-hidden="true" id="license_about" max-length=400></span>
				</p>
				<p id="custom_license_description" class="license_description_text">{{license_description}}</p>
			</div>
			<div class="col-xs-4">
				<h4>{{formatMessage (intlGet 'messages.copyright_holder')}}</h4>
				<p class="upload_input">{{copyright_owner}}</p>
			</div>
		</div>
		<hr/>
		<br/>
	{{/if}}
	{{#if node}}
		<h4>{{formatMessage (intlGet 'messages.description')}} {{#if node}}<i id="description_counter" class="pull-right">{{formatMessage (intlGet 'messages.chars_left') data=word_limit}}</i>{{/if}}</h4>
		<textarea id="input_description" class="upload_input input_listener tab_item" placeholder="{{formatMessage (intlGet 'messages.description_placeholder')}}" value='{{node.description}}'>{{node.description}}</textarea>
	{{/if}}
		<div class="ui-widget" id="tag_area_wrapper">
		<h4>{{formatMessage (intlGet 'messages.tags')}} {{formatMessage (intlGet 'messages.tags_text')}} <span id="tag_error">{{formatMessage (intlGet 'messages.tags_error')}}</span></h4>
		<input type="text" id="tag_box" class="tag_input tab_item" placeholder="{{formatMessage (intlGet 'messages.tags_placeholder')}}" maxlength="30"/>
		<div class="container-fluid">
			<div class="row" id="tag_area"></div>
		</div>
	</div>
{{/if}}
