{{#if is_channel}}
<label class="import_channel_item">
	<span id="menu_toggle_{{node.id}}" class="glyphicon glyphicon-menu-up tog_folder"></span>
	<h3 class="import_channel_item_title truncate">{{node.attributes.title}} <i class="badge selected_counter">0</i></h3>
</label>
{{else}}
<input type="checkbox" id="import_file_{{node.id}}"></input>
<label for="import_file_{{node.id}}" class="import_item">
	{{#if isfolder}}<div class="pull-left tog_folder"><span id="menu_toggle_{{node.id}}" class="glyphicon glyphicon-menu-up"></span></div>{{/if}}
	<h6>{{to_upper_case node.attributes.kind}}</h6>
	<h4 class="import_item_title truncate">
		{{node.attributes.title}}
	</h4>
</label>
{{/if}}
{{#if isfolder}}
	<div id="import_item_{{node.id}}_sub" style="padding-left: {{indent}}px;" class="subdirectory">
	<ul class="list-unstyled content-list">
		{{#each sub_list}}
			<li id="import_item_{{this}}" class="import_list_item"></li>
		{{else}}
			<li><em>No items found.</em></li>
		{{/each}}
	</ul>
	</div>
{{/if}}