<span class="editor_name truncate" title="{{editor.first_name}} {{editor.last_name}}">{{editor.first_name}} {{editor.last_name}}</span>
<span class="editor_email">&nbsp;(<div class="share_item_email truncate" title="{{editor.email}}">{{editor.email}}</div>{{#if isviewonly}} - {{formatMessage (intlGet 'messages.view_only')}}{{/if}})</span>
<div class="pull-right">
	{{#if editor.sender}}
		<span class="pending_indicator">{{formatMessage (intlGet 'messages.pending')}}</span>
		<i class="material-icons reinvite_editor align-bottom" title="{{formatMessage (intlGet 'messages.resend')}}">email</i>
		<i class="material-icons remove_editor align-bottom" title="{{formatMessage (intlGet 'messages.cancel_invite')}}">clear</i>
	{{/if}}
</div>
