<div class="row">
	<div class="field col-xs-4 truncate">
		{{#if isviewonly}}<i class="material-icons visibility_icon" title="{{{translate 'view_access'}}}">visibility</i>
		{{else}}<i class="material-icons visibility_icon" title="{{{translate 'edit_access'}}}">edit</i>
		{{/if}}
		<span class="editor_name" title="{{editor.first_name}} {{editor.last_name}}">{{editor.first_name}} {{editor.last_name}}</span>
	</div>
	<div class="field col-xs-5 truncate editor_email">
		<span class="share_item_email" title="{{editor.email}}">{{editor.email}}</span>
	</div>
	<div class="field col-xs-3 text-right">
		{{#if editor.sender}}
			<span class="pending_indicator">{{formatMessage (intlGet 'messages.pending')}}</span>
			<span class="reinvite_editor glyphicon glyphicon-envelope" title="{{formatMessage (intlGet 'messages.resend')}}"></span>
			<span class="remove_editor glyphicon glyphicon-remove" title="{{formatMessage (intlGet 'messages.cancel_invite')}}"></span>
		{{/if}}
	</div>
</div>