<div class="input-tab-control tab_item" data-next="#share_close_button"></div>
<div id="share_area">
	<div id="editor_list_area">
		<h4>{{formatMessage (intlGet 'messages.invite_people')}}</h4>
		<div id="share_email">
			<p id="share_error"></p>
			<p id="share_success"></p>
			<input type="text" placeholder="{{formatMessage (intlGet 'messages.email_placeholder')}}" id="share_email_address" class="tab_item first_focus_item">
			<select id="share_mode" {{#if single_share_option}}title="{{#translate (concat share_modes.0.share_mode '_access_only')}}{{/translate}}" class="disabled" disabled{{else}}class="tab_item"{{/if}}>
				{{#each share_modes}}<option value="{{share_mode}}">{{#translate (concat share_mode '_access')}}{{/translate}}</option>{{/each}}
			</select>
			<input type="submit" class="action-button tab_item" value="{{formatMessage (intlGet 'messages.invite')}}" id="share_invite_button">
		</div>
		{{#if show_list}}
			<hr/>
			<h4>{{formatMessage (intlGet 'messages.access_list')}}</h4>
			<div id="editor_list_wrapper">
				<ul class="list-unstyled">
					<li id="share_item_{{user.id}}" class="share_list_item">
						<span class="editor_name truncate" title="{{user.first_name}} {{user.last_name}}">
							{{user.first_name}} {{user.last_name}}
						</span>
						<span class="editor_email">&nbsp;({{user.email}})</span>
						<div class="pull-right" id="share_current_user_actions"></div>
					</li>
				</ul>
				<div id="current_list_wrapper"><em>{{formatMessage (intlGet 'messages.loading_editors')}}</em></div>
				<div id="pending_list_wrapper"></div>
			</div>
		{{/if}}
	</div>
	<br/>
	<div id="share_bottom_container">
		<button id="share_close_button" class="action-text tab_item" data-dismiss="modal">{{formatMessage (intlGet 'messages.close')}}</button>
		<span id="share_change_indicator" class="pull-right">{{formatMessage (intlGet 'messages.changes_saved')}}</span>
	</div>
</div>
<div class="input-tab-control tab_item" data-next="#share_email_address"></div>