<span class="editor_name truncate" title="{{editor.first_name}} {{editor.last_name}}">{{editor.first_name}} {{editor.last_name}}</span>
<span class="editor_email">&nbsp;({{editor.email}})</span>
<div class="pull-right">
{{#if is_self}}
	<span class="pending_indicator"><strong>You</strong></span>
{{else}}
	{{#if editor.sender}}
		<span class="pending_indicator">Pending...</span>
		<span class="reinvite_editor glyphicon glyphicon-envelope" title="Resend Invitation"></span>
	{{/if}}
	<span class="remove_editor glyphicon glyphicon-remove" title="Remove Editor"></span>
{{/if}}
</div>
