<div class="input-tab-control" tabindex="{{#tabindex}}{{/tabindex}}" data-next="#share_close_button"></div>
<div id="share_area">
	<div id="editor_list_area">
		<h4>People who can access this channel</h4>
		<div id="share_email">
			<p id="share_error"></p>
			<input type="text" placeholder="Enter email address..." id="share_email_address" tabindex='{{#tabindex}}{{/tabindex}}' autofocus>
			<select id="share_mode" tabindex='{{#tabindex}}{{/tabindex}}'>
				{{#each share_modes}}<option value="{{share_mode}}">{{text}}</option>{{/each}}
			</select>
			<input type="submit" class="action-button" value="Invite" id="share_invite_button" tabindex='{{#tabindex}}{{/tabindex}}'>
		</div>
		<div id="editor_list_wrapper">
			<ul class="list-unstyled">
				<li id="share_item_{{user.id}}" class="share_list_item">
					<span class="editor_name truncate" title="{{user.first_name}} {{user.last_name}}">
						{{user.first_name}} {{user.last_name}}
					</span>
					<span class="editor_email">&nbsp;({{user.email}})</span>
					<div class="pull-right"><span class="pending_indicator"><strong>You</strong></span></div>
				</li>
			</ul>
			<div id="current_list_wrapper"><em>Loading editor list...</em></div>
			<div id="pending_list_wrapper"></div>
		</div>
	</div>
	<br/>
	<div id="share_bottom_container">
		<a id="share_close_button" class="action-text" data-dismiss="modal" tabindex="{{#tabindex}}{{/tabindex}}">
			<span>CLOSE</span>
		</a>
		<!-- <button class="action-button pull-right" id="share_content_submit">
			<span>SAVE</span>
		</button> -->
		<span id="share_change_indicator" class="pull-right">Changes Saved</span>
	</div>
</div>
<div class="input-tab-control" tabindex="5" data-next="#share_email_address"></div>