<div id="share_area">
	<!-- <div class="pull-right" id="share_public_option">
		<h4>Access Options</h4>
		<p>
			<input type="radio" id="share_public_channel" name="share_option" {{#if channel.public}}checked{{/if}}>
			<label for="share_public_channel"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Public <em>Anyone can import content from this channel</em></label>
		</p>
		<p>
			<input type="radio" id="share_organization_channel" name="share_option">
			<label for="share_organization_channel"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Organization <em>Anyone from your organization can import from this channel</em></label>
		</p>
		<p>
			<input type="radio" id="share_private_channel" name="share_option" {{#unless channel.public}}checked{{/unless}}>
			<label for="share_private_channel"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Private <em>Only people with editing permission can import content from this channel</em></label>
		</p>
	</div> -->
	<div id="editor_list_area">
		<h4>People who can edit this channel</h4>
		<div id="share_email">
			<p id="share_error"></p>
			<input type="text" placeholder="Enter email address..." id="share_email_address" tabindex='1'>
			<input type="submit" class="action-button" value="Invite" id="share_invite_button" tabindex='2'>
		</div>
		<div id="editor_list_wrapper">
			<ul class="list-unstyled">
				<li id="share_item_{{user.id}}" class="share_list_item">
					<span class="editor_name truncate" title="{{user.first_name}} {{user.last_name}}">
						{{user.first_name}} {{user.last_name}}
					</span>
					<span class="editor_email">&nbsp;({{user.email}})</span>
					<div class="pull-right"><span class="pending_indicator"><strong>You</strong></span></div>
				</li>
			</ul>
			<div id="current_list_wrapper"><em>Loading editor list...</em></div>
			<div id="pending_list_wrapper"></div>
		</div>
	</div>
	<br/>
	<div id="share_bottom_container">
		<a class="action-text" data-dismiss="modal">
			<span>CLOSE</span>
		</a>
		<!-- <button class="action-button pull-right" id="share_content_submit">
			<span>SAVE</span>
		</button> -->
		<span id="share_change_indicator" class="pull-right">Changes Saved</span>
	</div>
</div>