<div class="grid_item channel_name_wrapper {{#if deleted}}deleted{{/if}}" title="{{name}} (Created {{#format_date created }}{{/format_date}}, Last Updated {{#format_date modified }}{{/format_date}})">
	{{#unless deleted}}<a href="/channels/{{id}}/edit" target="_blank">{{/unless}}
		<div class="channel_name truncate">{{#if name}}{{ name }}{{else}}<i title="Channel does not have a name">[Untitled Channel]</i>{{/if}}</div>
	{{#if ricecooker_version}}{{#if staging_tree}}
		<a href="/channels/{{id}}/staging" target="_blank" class="action-text" title="Review"><i class="icon material-icons">announcement</i></a>
	{{/if}}{{/if}}
	{{#unless deleted}}<i class="icon material-icons action-text name_icon" title="Open in new tab">open_in_new</i></a>{{/unless}}
	<a class="action-text download_csv name_icon" title="Download CSV"><i class="icon material-icons">file_download</i></a>
</div>
<div class="grid_item" title="{{id}}">
	<input type="text" value="{{id}}" class="channel_id" readonly/>&nbsp;
	<a class="action-text copy_id"><i class="icon material-icons" title="Copy">content_paste</i></a>
</div>
<div class="grid_item">
	{{#if public}}<input type="number" value="{{priority}}" class="channel_priority" min="0"/>{{else}}<em class="channel_priority_private" title="Priority does not count for private channels">(Private)</em>{{/if}}
</div>
<div class="grid_item text-center">
	{{#if editors}}
		<a tabindex="0" class="popover_link action-text" data-id="#admin_editors_{{id}}">{{#format_count "Editor" editors.length}}{{/format_count}}</a>
		<a class="action-text search_for_channel_editors search name_icon" title="Search for this channel's editors"><i class="icon material-icons">search</i></a>
	{{else}}None
	{{/if}}
</div>
<div class="grid_item text-center">
	{{#if viewers}}
		<a tabindex="0" class="popover_link action-text" data-id="#admin_viewers_{{id}}">{{#format_count "Viewer" viewers.length}}{{/format_count}}</a>
	{{else}}None
	{{/if}}
</div>
<div class="grid_item text-center">
	{{#if count}}
		<a tabindex="0" class="popover_link count_link action-text" data-id="#admin_counts_{{id}}">{{#format_count "Item" count}}{{/format_count}}</a>
	{{else}}None
	{{/if}}
</div>
<div class="grid_item text-center">
	<div class="btn-group btn-group-justified" role="group">
		{{#if deleted}}
			<div class="btn-group" role="group">
				<button class="btn option btn-green restore_button" title="Restore"><i class="material-icons">restore</i></button>
			</div>
			<div class="btn-group" role="group">
				<button class="btn option btn-red delete_button" title="Delete Permanently"><i class="material-icons">delete</i></button>
			</div>
		{{else}}
			<div class="btn-group" role="group">
				<button class="btn option btn-blue invite_button" title="View Editors"><i class="material-icons">person</i></button>
			</div>
			<div class="btn-group" role="group">
			{{#if public}}
				<button class="btn option btn-green public_button" title="Public (click to make private)"><i class="material-icons">public</i></button>
			{{else}}<button class="btn option btn-gray private_button" title="Private (click to make public)"><i class="material-icons">lock</i></span></button>
			{{/if}}
			</div>
		{{/if}}
	</div>
</div>

<div class="popover" tabindex="0" role="popover" id="admin_editors_{{id}}">
	<div class="arrow"></div>
	<div class="popover-content">
		<ul class="list-unstyled">
			{{#each editors}}
				<li title="{{first_name}} {{last_name}}" class="truncate"><i class="material-icons content_icon">person</i> {{first_name}} {{last_name}}</li>
			{{/each}}
		</ul>
	</div>
</div>

<div class="popover" tabindex="0" role="popover" id="admin_viewers_{{id}}">
	<div class="arrow"></div>
	<div class="popover-content">
		<ul class="list-unstyled">
			{{#each viewers}}
				<li title="{{first_name}} {{last_name}}" class="truncate"><i class="material-icons content_icon">person</i> {{first_name}} {{last_name}}</li>
			{{/each}}
		</ul>
	</div>
</div>

<div class="popover" tabindex="0" role="popover" id="admin_counts_{{id}}">
	<div class="arrow"></div>
	<div class="popover-content counts_popover"><i>Loading...</i></div>
</div>

