<div class="table_actions">
	<div class="action_grid">
		<div class="view_filter">
			<label>View</label>
			<select id="admin_channel_view" class="filter_input view_input channels">
				{{#each filterOptions}}
				<option {{#if selected}}selected{{/if}} value="{{@key}}">{{label}}</option>{{/each}}
			</select>
		</div>
		<div class="sort_by">
			<label>Sort By</label>
			<select id="admin_channel_sort" class="filter_input sort_input channels">
				{{#each sortFilterOptions}}
				<option {{#if selected}}selected{{/if}} value="{{@key}}">{{label}}</option>{{/each}}
			</select>
		</div>
		<div class="order">
			<label>Order</label>
			<select id="admin_channel_order" class="filter_input order_input channels">
				{{#each sortOrderOptions}}
				<option {{#if selected}}selected{{/if}} value="{{@key}}">{{label}}</option>{{/each}}
			</select>
		</div>
		<div class="search">
			<input type="text" id="admin_channel_search" placeholder="Search..." class="search_input" value="{{collectionState.search}}"
			/>
			<a class="action-text search name_icon" title="Submit search">
				<i class="icon material-icons">search</i>
			</a>
		</div>
		<div class="pull-right">
			<button class="action-text download_pdf" title="Download PDF of public channels" download>Download PDF</button>
			<button class="action-text" href="/api/download_channel_csv/" download>Download CSV</button>
		</div>
	</div>
</div>
<div id="admin_channel_table_wrapper" class="admin_table_wrapper"></div>
<nav aria-label="Channel list page navigation">
	<ul class="pagination channels">
		<li class="page-item {{#if disablePreviousPageButton}}disabled{{/if}}" {{#if disablePreviousPageButton}}aria-disabled="true"
		 {{/if}}>
			<a class="page-link previous">Previous</a>
		</li>
		{{#each pages}}
		<li class="page-item {{#if currentPage}}active{{/if}} {{#if collapsed}}collapsed{{/if}}">
			<a class="page-link page" data-page={{pageNumber}}>{{pageLinkText}}</a>
		</li>
		{{/each}}
		<li class="page-item {{#if disableNextPageButton}}disabled{{/if}}" {{#if disableNextPageButton}}aria-disabled="true" {{/if}}>
			<a class="page-link next">Next</a>
		</li>
	</ul>
</nav>