{{#each presets}}
    <li class="btn preview_btn_tab preview_file" value="{{id}}" title="{{readable_name}}">{{readable_name}}</li>
  {{/each}}
 {{#each questions}}
    <li class="btn preview_btn_tab truncate preview_question" value={{@index}} title="Q: {{#if question}}{{question}}{{else}}{{#question_default_text type}}{{/question_default_text}}{{/if}}">Q: {{#if question}}{{question}}{{else}}{{#question_default_text type}}{{/question_default_text}}{{/if}}</li>
  {{/each}}