<div class="modal fade information_modal" id="channel_set_modal"  tabindex="-1">
<div class="input-tab-control tab_item" data-next="#cancel_button"></div>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close tab_item" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{formatMessage (intlGet 'messages.channel_sets')}}</h4>
        </div>
        <div class="modal-body">
        	<div class="modal-body-content">
                <h5><strong>*** {{formatMessage (intlGet 'messages.channel_sets_disclaimer')}} ***</strong></h5>
                <br/>
                <h3>{{formatMessage (intlGet 'messages.channel_sets_description')}}</h3>
                <div>{{formatMessage (intlGet 'messages.channel_sets_description_text')}}</div>
                <br/><br/>
                <h3>{{formatMessage (intlGet 'messages.channel_sets_instructions')}}</h3>
                <div>{{formatMessage (intlGet 'messages.channel_sets_instructions_text')}}</div>
                <br/><br/>
                <h3>{{formatMessage (intlGet 'messages.channel_sets_benefits')}}</h3>
                <div>{{formatMessage (intlGet 'messages.channel_sets_benefits_text')}}</div>
            </div>
            <div class="modal-body-bottom container-fluid">
    			<button class="action-button pull-right tab_item first_focus_item" id="cancel_button" data-dismiss="modal">{{formatMessage (intlGet 'messages.close')}}</button>
            </div>
        </div>
    </div>
</div>
<div class="input-tab-control tab_item" data-next=".close"></div>
</div>
