<div class="modal fade information_modal" id="mastery_modal"  tabindex="-1">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{formatMessage (intlGet 'messages.exercise')}}</h4>
        </div>
        <div class="modal-body">
        	<div class="modal-body-content">
                <p>{{formatMessage (intlGet 'messages.exercise_description')}}</p>
                <hr/>
                <h3>{{formatMessage (intlGet 'messages.mastery')}}</h3>
                <p>{{formatMessage (intlGet 'messages.mastery_description')}}</p>
                <div class="mastery_container">
                    <div class="row">
                        <div class="col-xs-2 criterion_name"><b>{{#translate "num_correct_in_a_row_2"}}{{/translate}}</b></div>
                        <div class="col-xs-10 criterion_description">{{#translate (concat "num_correct_in_a_row_2" "_description")}}{{/translate}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2 criterion_name"><b>{{#translate "num_correct_in_a_row_3"}}{{/translate}}</b></div>
                        <div class="col-xs-10 criterion_description">{{#translate (concat "num_correct_in_a_row_3" "_description")}}{{/translate}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2 criterion_name"><b>{{#translate "num_correct_in_a_row_5"}}{{/translate}}</b></div>
                        <div class="col-xs-10 criterion_description">{{#translate (concat "num_correct_in_a_row_5" "_description")}}{{/translate}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2 criterion_name"><b>{{#translate "num_correct_in_a_row_10"}}{{/translate}}</b></div>
                        <div class="col-xs-10 criterion_description">{{#translate (concat "num_correct_in_a_row_10" "_description")}}{{/translate}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2 criterion_name"><b>{{#translate "do_all"}}{{/translate}}</b></div>
                        <div class="col-xs-10 criterion_description">{{#translate (concat "do_all" "_description")}}{{/translate}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2 criterion_name"><b>{{#translate "m_of_n"}}{{/translate}}</b></div>
                        <div class="col-xs-10 criterion_description">{{#translate (concat "m_of_n" "_description")}}{{/translate}}</div>
                    </div>
                </div>
            </div>
            <div class="modal-body-bottom container-fluid">
    			<a class="action-button pull-right" data-dismiss="modal">
    	            <span>{{formatMessage (intlGet 'messages.close')}}</span>
    	        </a>
            </div>
        </div>
    </div>
</div>
</div>
