<div class="modal fade information_modal" tabindex="-1" id="published_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{formatMessage (intlGet 'messages.published')}}</h4>
      </div>
      <div class="modal-body">
        <div class="modal-body-content published_wrapper">
            <p>{{formatMessage (intlGet 'messages.published_prompt')}}</p>
            <h4 class="text-center publish_id_wrapper">
                {{formatMessage (intlGet 'messages.id')}} <input type="text" id="modal-copy-text" class="publish-id-text" value="{{ channel_id }}" readonly/>
                <a class="btn action-button copy-id-btn" id="modal-copy-btn">{{formatMessage (intlGet 'messages.copy')}}</a>
            </h4>
        </div>
      </div>
    </div>
  </div>
</div>