<div class="modal fade information_modal" id="roles_modal"  tabindex="-1">
<div class="input-tab-control tab_item" data-next="#roles_modal_close_button"></div>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close tab_item" data-dismiss="modal" id="close_roles_modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{formatMessage (intlGet 'messages.coach_content')}}</h4>
        </div>
        <div class="modal-body">
        	<div class="modal-body-content">
                <p class="container-fluid text-center">
                    {{formatMessage (intlGet 'messages.role_description')}}
                </p>
                <hr>
                <div class="col-xs-3 text-right"><i class="icon-blue material-icons">local_library</i> <b>{{{translate 'coach'}}}</b></div>
                <div class="col-xs-9"> {{formatMessage (intlGet 'messages.coach_description')}}</div>
                <br>
                <br>
                <br>
                <div class="col-xs-3 text-right"><b>{{{translate 'learner'}}}</b></div>
                <div class="col-xs-9"> {{formatMessage (intlGet 'messages.anyone_description')}}</div>
            </div>
            <div class="modal-body-bottom container-fluid">
    			<button class="action-button pull-right tab_item first_focus_item" data-dismiss="modal" id="roles_modal_close_button">{{formatMessage (intlGet 'messages.close')}}</button>
            </div>
        </div>
    </div>
</div>
<div class="input-tab-control tab_item" data-next=".close"></div>
</div>
