<div class="input-tab-control tab_item" data-next="#submit_file"></div>
<input type="text" class="tab_item first_focus_item" id="alt_text_box" placeholder="{{formatMessage (intlGet 'messages.alt_prompt')}}" value="{{alt_text}}"/>
<div id="dropzone" class="text-center">
	{{#if file}}
		<img id="dropzone_placeholder" alt="{{formatMessage (intlGet 'messages.image_error')}}" src="{{file.path}}"/>
	{{else}}
		<div id="dropzone_placeholder"><div id="placeholder_text">{{formatMessage (intlGet 'messages.drop_prompt')}}</div></div>
	{{/if}}
</div>
<div class="modal-buttons">
    <button class="action-button tab_item pull-right {{#unless file}}disabled{{/unless}}" id="submit_file" {{#unless file}}disabled{{/unless}}>
        {{formatMessage (intlGet 'messages.use')}}
    </button>
    <button class="action-text tab_item uppercase" data-dismiss="modal">{{formatMessage (intlGet 'messages.cancel')}}</button>
</div>
<div class="input-tab-control tab_item" data-next="#alt_text_box"></div>
