<div class="image_dropzone" id="{{selector}}">
    <div class="img-wrapper">
        <!-- /*<div class="dz-placeholder" id="{{selector}}_placeholder" style="background-image:url('{{picture}}')"></div>*/ -->
        <img class="dz-placeholder" id="{{selector}}_placeholder" src="{{picture}}"/>
    </div>
    <div class="finished_area">
        <div class="image_options text-center">
            {{#if cropping}}
                <i class="material-icons image_option croppie_option cancel_image" title="{{formatMessage (intlGet 'messages.cancel')}}">not_interested</i>
                <i class="material-icons image_option croppie_option submit_image" title="{{formatMessage (intlGet 'messages.submit')}}">check</i>
            {{else}}
                <i id="{{selector}}_swap" class="material-icons image_option thumbnail_option" title="{{formatMessage (intlGet 'messages.upload')}}">image</i>
                {{#if not_default}}<i class="material-icons image_option thumbnail_option crop_image" title="{{formatMessage (intlGet 'messages.recenter_thumbnail')}}">crop</i>{{/if}}
                {{#if show_generate}}<i class="material-icons image_option thumbnail_option open_thumbnail_generator" title="{{formatMessage (intlGet 'messages.generate')}}">camera</i>{{/if}}
                {{#if not_default}}<i class="material-icons image_option thumbnail_option remove_image" title="{{formatMessage (intlGet 'messages.remove')}}">clear</i>{{/if}}
            {{/if}}
        </div>
    </div>
</div>
