<div class="modal fade" id="thumbnail_modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{formatMessage (intlGet 'messages.generate_thumbnail')}}</h4>
            </div>
            <div class="modal-body">
                <div class="input-tab-control tab_item" data-next="#cancel_thumbnail_modal"></div>
                <div id="thumbnail_area">
                    <button id="generate_thumbnail" class="btn btn-default action-button tab_item first_focus_item">
                        {{formatMessage (intlGet 'messages.generate')}}
                    </button>
                    <span id="generate_thumbnail_text">&nbsp;{{formatMessage (intlGet 'messages.loading')}}</span>
                    <div id="thumbnail_preview" class="text-center"></div>
                    <div id="generate_thumbnail_error" class="text-center"></div>
                    <div id="thumbnail_buttons">
                        <button class="action-button pull-right tab_item" id="use_thumbnail">{{formatMessage (intlGet 'messages.use')}}</button>
                        <a class="action-text tab_item" data-dismiss="modal" id="cancel_thumbnail_modal">{{formatMessage (intlGet 'messages.cancel')}}</a>
                    </div>
                </div>
                <div class="input-tab-control tab_item" data-next="#generate_thumbnail"></div>
            </div>
        </div>
    </div>
</div>
