<div class="{{#if isfolder}} folder_item {{#unless isempty}}export_folder{{/unless}}{{/if}}" title="{{node.title}}">
    {{#unless isfolder}}<i class="material-icons content_icon">{{{get_icon node.kind}}}</i>{{/unless}}
    <div class="export_item_title truncate" title="{{node.title}}">{{node.title}}</div>
    {{#if isfolder}}
        {{#if isempty}}
            <em class="annotation">{{formatMessage (intlGet 'messages.empty')}}</em>
        {{else}}
            <em class="annotation">{{formatMessage (intlGet 'messages.resource_count') count=resource_count}}</em>
            <i id="menu_toggle_{{node.id}}" class="material-icons toggler align-bottom">arrow_drop_up</i>
        {{/if}}
    {{/if}}
</div>
{{#if isfolder}}
    <div id="export_item_{{node.id}}_sub" class="subdirectory"> </div>
{{/if}}
