<h2 class="text-center title-bar truncate">{{topic.attributes.title}}</h2>
<ul class="content-list sortable list-unstyled" id="container_list_{{topic.id}}">
	{{#each content_list}}
		<li class="content draggable to_publish" id="{{id}}""></li>
	{{else}}<li id="default_item_{{topic.id}}" class="default-item"><h5>No items found.</h5></li>
	{{/each}}
</ul>
{{#if edit_mode}}
	<div>
		<a class="btn btn-default add_content_button disable-on-edit" name="{{topic.attributes.title}}">
			<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
			ADD
		</a>
	</div>
{{/if}}