<!-- PARAMETERS -->
<!-- edit_mode: is editing mode -->
<!-- allow_edit: allow user to edit values on folders -->
<!-- isfolder: content type is a folder -->

{{#if edit_mode}}<input type="checkbox" id="item_{{node.id}}"/>
{{else}}<input type="radio" name="{{container}}" id="item_{{node.id}}"/>{{/if}}
{{#if isfolder}}
	<label class="folder collapsed {{#unless edit_mode}}open_folder{{/unless}}" for="folder_{{node.id}}" title="{{node.attributes.title}}">
{{else}}
	<label class="file" for="item_{{node.id}}" title="{{node.attributes.title}}">
{{/if}}
{{#if allow_edit}}
	<p class="error_msg"><p>
	<input id="textbox_{{node.id}}" type="text" class="node_title_textbox" value="{{node.attributes.title}}" placeholder="Enter Item Name" maxlength="200"/>
	{{#if isfolder}}
	<textarea id="textarea_{{node.id}}" class="topic_textarea"  placeholder="Enter Description" maxlength="400" >{{node.attributes.description}}</textarea>
	{{/if}}
	<div class="item_edit_options">
		<span class="cancel_edit glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>
		<span class="submit_edit glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
	</div>
{{else}}
	<div class="options pull-right">
		{{#if isfolder}}
			<span class="edit_folder_button disable-on-edit glyphicon glyphicon-pencil" aria-hidden="true"></span>
			<span class="open_folder glyphicon glyphicon-menu-right" aria-hidden="true"></span>
		{{/if}}
	</div>
	<h6 class="content_metadata_summary">
		{{to_upper_case node.attributes.kind}}
		<span class="metadata_to_hide">
			{{#if time}}&nbsp;<span class="glyphicon glyphicon-time" aria-hidden="true"></span>{{time}}{{/if}}
			{{#if isfolder}}&nbsp;{{#format_count "Resource" node.attributes.metadata.resource_count}}{{/format_count}}{{/if}}
			&nbsp;<span class="glyphicon glyphicon-file" aria-hidden="true"></span>{{#format_file_size node.attributes.metadata.resource_size}}{{/format_file_size}}
			&nbsp;
			{{#if node.attributes.changed}}
				<em class="unpublished">Updated</em>
			 {{else}}
			 	<!--
				<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
				-->
			{{/if}}
		</span>
	</h6>
	<h3 class = "title truncate">{{#if node}}{{node.attributes.title}}{{else}}<em>[Untitled]</em>{{/if}}</h3>
	<div class="description_wrapper">
		<p class="description wordwrap" title="{{node.attributes.description}}">{{#if node}}{{node.attributes.description}}{{else}}No description found.{{/if}}</p>
	</div>
{{/if}}
</label>