<div id={{#if is_clipboard}}"clipboard"{{else}}{{#if edit}}"edit"{{else}}"preview"{{/if}}{{/if}}>
	<!--<h3 id="container_area_title">{{#if is_clipboard}}Clipboard{{else}}{{channel.attributes.name}}{{/if}}</h3>-->
	<!-- <span class="glyphicon glyphicon-star" style="font-size:500pt; background-color:lightgray;padding:100px; color:gray"></span> -->
	<nav id="button_bar">
	{{#if edit}}

		<!--{{#if is_clipboard}}<a class="btn btn-default disable-on-edit construction">Import to Channel</a>{{/if}}-->
		{{#if is_clipboard}}
		<div class="nav-button-container">
			<a href="edit">
				<div class="nav-button back_to_edit_button disable-on-edit"><span class="glyphicon glyphicon-arrow-left"></span></div>
				<a class="nav-label back_to_edit_button disable-on-edit">Back</a>
			</a>
		</div>
		{{/if}}
		<div id="disable-none-selected-wrapper">
			<div class="nav-button-container">
				<div class="nav-button edit_button disable-on-edit disable-none-selected"><span class="glyphicon glyphicon-pencil"></span></div>
				<a class="nav-label edit_button disable-on-edit disable-none-selected">Edit</a>
			</div>
			{{#unless is_clipboard}}
			<div class="nav-button-container">
				<div class="nav-button copy_button disable-on-edit disable-none-selected"><span class="glyphicon glyphicon-duplicate"></span></div>
				<a class="nav-label copy_button disable-on-edit disable-none-selected">Copy</a>
			</div>
			{{/unless}}
			<div class="nav-button-container">
				<div class="nav-button move_button disable-on-edit disable-none-selected"><span class="glyphicon glyphicon-move"></span></div>
				<a class="nav-label move_button disable-on-edit disable-none-selected">Move</a>
			</div>
			<div class="nav-button-container">
				<div class="nav-button delete_button disable-on-edit disable-none-selected"><span class="glyphicon glyphicon-remove"></span></div>
				<a class="nav-label delete_button disable-on-edit disable-none-selected">Delete</a>
			</div>
		</div>
		<!-- <div class="nav-button-container">
			<div class="nav-button archive_button"><span class="glyphicon glyphicon-inbox"></span></div>
			<a class="nav-label archive_button">Archive</a>
		</div> -->
		<div class="nav-button-container">
			<div class="nav-button permissions_button disable-on-edit"><span class="glyphicon glyphicon-user"></span></div>
			<a class="nav-label permissions_button disable-on-edit">Invite</a>
		</div>

		<!--<a class="btn btn-default undo_button disable-on-edit">Undo</a>
		<a class="btn btn-default redo_button disable-on-edit">Redo</a>-->
		<div class="hide-details-container">
			<input type="checkbox" id="hide_details_checkbox"/>
			<label for="hide_details_checkbox">Hide details</label>
		</div>
		{{#if is_clipboard}}
			<span class="glyphicon glyphicon-remove pull-right back_to_edit_button close_clipboard"></span>
		{{/if}}

	{{else}}
		<h1>Select content to preview.
			<input type="checkbox" id="hide_details_checkbox"/>
			<label for="hide_details_checkbox">Hide details</label>
		</h1>
	{{/if}}
	</nav>

	<!--<ol id="container-breadcrumb">
	  <li><a href="#">Home</a></li>
	  <li><a href="#">Library</a></li>
	  <li><a href="#">Library Library Library</a></li>
	  <li class="active"><a href="#">Data</a></li>
	</ol>-->

	<div id="container-wrapper">
		{{#if is_clipboard}}
			<h1 id="clipboard_header">{{channel.name}} Clipboard</h1>
		{{/if}}
		<ul id="container_area" class="list-unstyled">
		</ul>
	</div>
</div>