<h2 class="text-center title-bar">{{topic.attributes.title}}</h2>
<div class="container-interior">
	<canvas class="pull-left"> </canvas>
</div>
<div class="top_border boundary">&nbsp;</div>
<ul class="content-list sortable list-unstyled" id="container_list_{{topic.id}}">
	{{#if edit_mode}}
		<div>
			<a class="btn btn-default add_content_button disable-on-edit" name="{{topic.attributes.title}}">
				<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
				ADD
			</a>
		</div>
	{{/if}}
	{{#each content_list}}
		<li class="content draggable to_publish" id="{{id}}""></li>
	{{else}}<li id="default_item_{{topic.id}}" class="default-item"><h5>No items found.</h5></li>
	{{/each}}
</ul>
<div class="bottom_border boundary">&nbsp;</div>
