<h2 class="text-center title-bar truncate">
	<span class="glyphicon glyphicon-menu-left back_button pull-left" aria-hidden="true"></span>
	<span class="container-title">{{title}}</span>
</h2>
<ul class="content-list list-unstyled scroll" id="container_list_{{topic.id}}">
	<li id="default_item_{{topic.id}}" class="default-item"><h5>No items found.</h5></li>
</ul>
{{#if edit_mode}}
	<div>
		<div class="btn-group dropup">
		  <button type="button" class="btn btn-default action-button add_content_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		  		<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
				ADD
			</button>
		    <span class="sr-only">Toggle Dropdown</span>
		  </button>
		  <ul class="dropdown-menu add_content_dropdown">
		    <li><a class="disable-on-edit create_new_button" name="{{topic.title}}">Create a new topic</a></li>
		    <li><a class="disable-on-edit upload_files_button" name="{{topic.title}}">Upload files from computer</a></li>
		    <li><a class="disable-on-edit import_button" name="{{topic.title}}">Import from another channel</a></li>
		  </ul>
		</div>
	</div>
{{/if}}