<input type="checkbox" id="item_{{node.id}}" class="list_item_wrapper" {{#if checked}}checked{{/if}}/>
{{#if isfolder}}
	<label class="list_item_wrapper folder collapsed open_folder" for="folder_{{node.id}}" title="{{node.title}}">
{{else}}
	<label class="list_item_wrapper file" for="item_{{node.id}}" title="{{node.title}}">
{{/if}}
		<div class="options pull-right hide_on_drag">
			{{#if edit_mode}}
				<a class="btn btn-default content-options-dropdown" role="button" rel="popover">
					<span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
				</a>
				<br/>
				{{#if isfolder}}<span class="folder_open_icon open_folder glyphicon glyphicon-menu-right" aria-hidden="true"></span>{{/if}}
			{{else}}
				{{#if isfolder}}<span class="glyphicon glyphicon-new-window edit_item_button" aria-hidden="true" title="{{formatMessage (intlGet 'messages.view_topic')}}"></span>{{/if}}
				<span class="glyphicon glyphicon-copy copy_item_button" aria-hidden="true" title="{{formatMessage (intlGet 'messages.copy')}}"></span>
			{{/if}}
		</div>
		<h6 class="content_metadata_summary hide_on_drag {{#unless isfolder}}open_file{{/unless}}">
			<span class="metadata_to_hide">
				{{#if time}}&nbsp;<span class="glyphicon glyphicon-time" aria-hidden="true"></span>{{time}}{{/if}}
				{{#if isfolder}}&nbsp;{{formatMessage (intlGet (concat 'messages.resource_count')) count=count}}&nbsp;{{/if}}
				{{#unless isfolder}}
					{{#if isexercise}}
						<span class="glyphicon glyphicon-check" aria-hidden="true"></span>
						{{formatMessage (intlGet (concat 'messages.question_count')) count=count}}
					{{else}}
						<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
						{{#format_file_size node.metadata.resource_size}}{{/format_file_size}}
					{{/if}}
				{{/unless}}
				&nbsp;
				{{#if node.changed}}
					{{#if node.published}}<em class="unpublished" title="{{formatMessage (intlGet 'messages.updated')}}">{{formatMessage (intlGet 'messages.updated')}}</em>
					{{else}}<em class="unpublished" title="{{formatMessage (intlGet 'messages.created')}}">{{formatMessage (intlGet 'messages.new')}}</em>
					{{/if}}
				{{/if}}
				{{#unless node.valid}}
					<em class="invalid">{{formatMessage (intlGet 'messages.incomplete')}}</em>
				{{/unless}}
			</span>
		</h6>
		<div class="{{#unless isfolder}}open_file{{/unless}} title_wrapper">
			<div class = "title truncate">
				<div class="content-item-icon">
					{{#if isfolder}}
						<img src="/static/img/topic.png"/>
					{{else}}
						<span class="{{#get_icon node.kind}}{{/get_icon}}" aria-hidden="true"></span>
					{{/if}}
				</div>
				{{#if node}}{{node.title}}{{else}}<em>{{formatMessage (intlGet (concat 'messages.untitled'))}}</em>{{/if}}
			</div>
			<div class="description_wrapper">
				<div class="description" title="{{node.description}}">
					<div class="description_main wordwrap">{{description_first}}</div>
					<div class="description_overflow wordwrap">{{description_overflow}}</div>
					{{#if description_overflow}}<a class="toggle_description">{{formatMessage (intlGet (concat 'messages.more'))}}</a>{{/if}}
				</div>
			</div>
		</div>
</label>
<div class="popover content-popover" tabindex="0" role="tooltip" id="options_{{node.id}}">
	<div class="arrow"></div>
	<div class="popover-content">
		{{#if isfolder}}<div class="add_subtopic_item_button option">{{formatMessage (intlGet 'messages.subtopic')}}</div>{{/if}}
		<div class="edit_item_button option">{{formatMessage (intlGet 'messages.edit')}}</div>
		<div class="copy_item_button option">{{formatMessage (intlGet 'messages.copy')}}</div>
		<div class="move_item_button option">{{formatMessage (intlGet 'messages.move')}}</div>
		<div class="delete_item_button option">{{formatMessage (intlGet 'messages.delete')}}</div>
	</div>
</div>

<nav class="context-menu hide_on_drag" tabindex="0">
  	{{#if isfolder}}<div class="add_subtopic_item_button context-option">{{formatMessage (intlGet 'messages.subtopic')}}</div>{{/if}}
	<div class="edit_item_button context-option">{{formatMessage (intlGet 'messages.edit')}}</div>
	<div class="copy_item_button context-option">{{formatMessage (intlGet 'messages.copy')}}</div>
	<div class="move_item_button context-option">{{formatMessage (intlGet 'messages.move')}}</div>
	<div class="delete_item_button context-option">{{formatMessage (intlGet 'messages.delete')}}</div>
</nav>
</div>
