<li id="item_{{index}}_{{list_index}}" data-val="{{index}}">
	<input type="checkbox" class="checkbox" id="{{index}}_{{list_index}}"/>
	<label class="folder" for="{{index}}_{{list_index}}" title="{{folder.title}}">
		<span class="pull-right" name="{{folder.title}}">
			<img class="edit_folder_button" src="/static/img/edit.png" alt="edit {{folder.title}}"/>
			<a class="open_folder">></a>
		</span>
		<h3>{{folder.title}}</h3>
		<p class="description"> {{folder.description}}</p>
	</label>
</li>