<li id="item_{{index}}_{{list_index}}">
	<input type="checkbox" id="{{index}}_{{list_index}}"/>
	<label class="file" for = "{{index}}_{{list_index}}" title="{{file.title}}">
		<span class="pull-right">
			<img src="/static/img/edit.png" alt="edit {{file.title}}" class="edit_file_button"/>
			<img src="/static/img/preview.png" alt="preview {{file.title}}" class="preview_button"/>
		</span>
		<h4>{{file.title}}</h4>
	</label>
</li>