<div id="stats_table" class="table-striped container-fluid">
    <div class="row table-header">
        <div class="table-cell col-xs-3 text-center">Comparison</div>
        <div class="table-cell col-xs-3 text-center">Live (Deployed)</div>
        <div class="table-cell col-xs-3 text-center">Staged (Updated)</div>
        <div class="table-cell col-xs-3 text-center">CHANGED</div>
    </div>
    {{#each stats}}
        <div class="row table-row">
            <div class="table-cell col-xs-3 text-center">{{field}}</div>
            <div class="table-cell col-xs-3 text-center">{{#if format_size}}{{#format_file_size live}}{{/format_file_size}}{{else}}{{live}}{{/if}}</div>
            <div class="table-cell col-xs-3 text-center">{{#if format_size}}{{#format_file_size staged}}{{/format_file_size}}{{else}}{{staged}}{{/if}}</div>
            <div class="table-cell col-xs-3 text-center">
                {{#if difference}}
                    <span class="{{#ispositive difference}}positive{{else}}negative{{/ispositive}}">{{#ispositive difference}}+{{/ispositive}}{{#if format_size}}{{#format_file_size difference}}{{/format_file_size}}{{else}}{{difference}}{{/if}}</span>
                {{else}}---
                {{/if}}
            </div>
        </div>
    {{/each}}
</div>
