<li id="item_{{index}}_{{list_index}}" data-val="{{index}}">
	<input type="radio" name="{{index}}" id="{{index}}_{{list_index}}"/>
	<label class="folder" for="{{index}}_{{list_index}}"  title="{{folder.title}}">
		<span class="pull-left"></span>
		<h3>{{folder.title}}</h3>
		<p class="description">{{folder.description}}</p>
	</label>
</li>