<div class="item_wrapper">
	<input type="checkbox" id="archive_item_{{node.id}}_check" class="archive_checkbox tab_item"></input>
	<label for="archive_item_{{node.id}}_check" class="archive_item {{#if node.children}}tog_folder{{/if}}" title="{{node.title}}">
		{{#unless isfolder}}<i class="material-icons icon gray">{{{get_icon node.kind}}}</i>{{/unless}}
		<div class="archive_item_title truncate modal-item-title-default">{{node.title}}</div>
		<i class="modal-item-metadata-default size_counter" id="archive_item_{{node.id}}_count">&nbsp;</i>
		{{#if isfolder}}
			<div id="archive_item_{{node.id}}_options"></div>
		{{/if}}
		<div class="archive_item_controls">
			<i class="material-icons restore_icon restore_content icon" title="{{formatMessage (intlGet 'messages.restore')}}">restore</i>
			<i class="material-icons delete_content icon" title="{{formatMessage (intlGet 'messages.delete')}}">delete</i>
		</div>
	</label>
</div>

{{#if node.children}}
	<div id="archive_item_{{node.id}}_sub" class="subdirectory"><em class="default-item">{{formatMessage (intlGet 'messages.loading')}}</em></div>
{{/if}}