<div class="row uploaded_format_item format_item">
    <div class="inline col-xs-3 preview_section text-center"><div class="preview_thumbnail"></div></div>
    <div class="inline col-xs-8 format_section format_metadata_section">
        <input type="text" dir="auto" placeholder="{{formatMessage (intlGet 'messages.title')}} *" class="name_content_input tab_item" value="{{node.title}}"/>
        <h4 class="format_editor_header">
            {{formatMessage (intlGet 'messages.files')}}
            <span class="pull-right file_size_metadata">{{formatMessage (intlGet 'messages.total_size')}} <em class="format_size_text"></em></span>
        </h4>
        <div class="format_editor_list"><p>{{formatMessage (intlGet 'messages.loading')}}</p></div>
    </div>
    <div class="inline col-xs-1">
        <i class="material-icons remove_from_dz">clear</i>
    </div>
</div>
