<div class="table table-striped files format_item">
  <div class="file-row row">
    <div class="inline col-xs-3 preview_section text-center">
        <img class="thumbnail_img" data-dz-thumbnail alt="No Preview Available" src="{{thumbnail}}"/>
        {{#if initial}}
        <div class="progress_file_area uploading_only">
            <span class="glyphicon glyphicon-ok upload_successful pull-right upload_option" aria-hidden="true"></span>
            <div class="progress file_upload_progress" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
              <div class="progress-bar progress-bar-success" style="width:100%;"></div>
            </div>
        </div>
        {{/if}}
    </div>

    <div class="inline col-xs-8 format_section">
        <div class="uploading_only">
            <p class="name truncate" title="{{node.attributes.title}}">
            {{#if initial}}
                {{node.attributes.title}}
            {{else}}
                <strong>{{node.attributes.title}}</strong>
            {{/if}}
            </p>
                {{#if initial}}
                    <p class="size">{{#format_file_size file.attributes.file_size}}{{/format_file_size}}</p>
                {{else}}
                    {{#each presets}}
                        {{#if attached_format}}
                            <p class="size">
                                {{attributes.readable_name}}
                                ({{#format_file_size attached_format.attributes.file_size}}{{/format_file_size}})
                            </p>
                        {{/if}}
                    {{/each}}
                {{/if}}
            </p>
        </div>
        <div class="formatting_only">
            <input type="text" placeholder="Title *" class="name_content_input" value="{{node.attributes.title}}"/>
            {{#if initial}}
                <h5 class="init_format_area">
                    <p class="init_format_name truncate">{{file.attributes.original_filename}}</p>
                    <span class="init_format_size" >({{#format_file_size file.attributes.file_size}}{{/format_file_size}})</span>
                    <a class="btn action-button pull-right save_initial_format">SAVE</a>
                    <select class="format_options_dropdown pull-right text-center">
                        <option selected disabled>-- Select a Format --</option>
                        {{#each presets}}
                            <option value="{{id}}">{{this.attributes.readable_name}}</option>
                        {{/each}}
                    </select>
                    <span class="pull-right required_input">*</span>
                </h5>
            {{else}}
                <h4 class="format_editor_header">
                    Formats
                    <span class="format_counter badge">0</span>
                    <span class="glyphicon glyphicon-triangle-bottom expand_format_editor" aria-hidden="true"></span>
                </h4>
                <div class="format_editor_list"></div>
            {{/if}}
        </div>
    </div>
    <div class="inline col-xs-1">
        <span class="glyphicon glyphicon-remove remove_from_dz pull-right" aria-hidden="true"></span>
    </div>

  </div>
</div>