<div class = "col-xs-4 format_editor_format_name" >{{preset.readable_name}}</div>
<div class = "col-xs-8">
  	<div id="{{preset.id}}_{{nodeid}}_dropzone{{#if file}}_swap{{/if}}" class="format_dropzone">
        <div class="format_metadata">
        	<div class="format_editor_options_wrapper pull-right">
        		{{#if allow_thumbnail_generation}}
			        <span id="{{preset.id}}_{{nodeid}}_dropzone" class="open_thumbnail_generator glyphicon glyphicon-new-window" title="Generate Tiled Thumbnail" aria-hidden="true"></span>
	            {{/if}}
	            {{#if file}}
			        <span id="{{preset.id}}_{{nodeid}}_dropzone" class="format_editor_replace glyphicon glyphicon-file dz_click" title="Replace File" aria-hidden="true"></span>
			        <span class="glyphicon glyphicon-remove format_editor_remove {{#unless preset.supplementary}}main_file_remove{{/unless}}" aria-hidden="true" title="Delete File"></span>
		        {{/if}}
		    </div>
        	<div class="format_editor_file_name_wrapper">
        		{{#if file}}
	      			<div class="format_editor_file_name truncate" title="{{file.original_filename}}">{{#if file.original_filename}}{{file.original_filename}}{{else}}File{{/if}}</div>
	      			<i class="format_editor_selected_size">({{#format_file_size file.file_size}}{{/format_file_size}})</i>
      			{{else}}
      				<a class="action-text add_format_button dz_click">+ ADD</a>
      			{{/if}}
      		</div>
      	</div>
	</div>
</div>