{{#if has_thumbnail}}
    <a href={{picture}} download="{{name}}_thumbnail">
        <img class="thumbnail_img" src="{{picture}}"/>
    </a>
{{else}}
    <img class="thumbnail_img" src="{{picture}}"/>
{{/if}}
