{{#unless is_channel}}
	<input type="checkbox" id="import_item_{{node.id}}_check" class="import_checkbox"></input>
{{/unless}}

<label for="import_item_{{node.id}}_check" class="{{#if is_channel}}select_header_item{{else}}select_item{{/if}} {{#unless is_channel}}{{#if node.children}}tog_folder{{/if}}{{/unless}}" title="{{node.title}}">
	{{#unless isfolder}}<div class="glyphicon glyphicon-{{#get_icon node.kind}}{{/get_icon}}"></div>{{/unless}}
	<div class="select_item_title truncate modal-item-title-default">{{node.title}}</div>
	{{#if isfolder}}
		{{#if node.children}}
			{{#if isfolder}}
				{{#unless is_channel}}<em class="select_metadata">{{#format_count "Resource" node.metadata.resource_count}}{{/format_count}}</em>{{/unless}}
			{{else}}
				<em class="select_metadata">{{#format_file_size node.metadata.resource_size}}{{/format_file_size}}</em>
			{{/if}}
			<div id="menu_toggle_{{node.id}}" class="toggler glyphicon glyphicon-triangle-top"></div>
		{{else}}
			<em class="select_metadata modal-item-metadata-default">(empty)</em>
		{{/if}}
	{{/if}}
	{{#if isfolder}}<i class="badge selected_counter" id="import_item_{{node.id}}_count">{{node.metadata.resource_count}}</i>{{/if}}
	{{#if is_channel}}<i class="badge selected_counter" id="import_item_{{node.id}}_count">{{node.metadata.resource_count}}</i>{{/if}}
</label>

{{#if isfolder}}
	<div id="import_item_{{node.id}}_sub" class="subdirectory"><em class="default-item">Loading...</em></div>
{{/if}}