<div class="{{#if isfolder}} folder_item {{#unless isempty}}export_folder{{/unless}}{{/if}}" title="{{node.title}}">
    {{#unless isfolder}}<span class="glyphicon glyphicon-{{#get_icon node.kind}}{{/get_icon}} content_icon"></span>{{/unless}}
    <div class="export_item_title truncate">{{node.title}}</div>
    {{#if isfolder}}
        {{#if isempty}}
            <em class="annotation">(empty)</em>
        {{else}}
            <em class="annotation">{{#format_count "Resource" node.metadata.resource_count}}{{/format_count}}</em>
            <span id="menu_toggle_{{node.id}}" class="toggler glyphicon glyphicon-menu-right"></span>
        {{/if}}
    {{/if}}
</label>

{{#if isfolder}}
    <div id="export_item_{{node.id}}_sub" class="subdirectory"> </div>
{{/if}}
