<li id="item_{{index}}">
	<input type={{#if options.list}}"checkbox"{{else}}"radio"{{/if}} id="file_{{index}}" name="clipboard_list_files"></input>
	<label for="file_{{index}}" class="clipboard_item">
		{{#if folder}}<span class="pull-left tog_folder glyphicon glyphicon-menu-down"></span>
		{{else}}<span class="pull-left preview_file glyphicon glyphicon-search"></span>{{/if}}
		
		<span class="glyphicon glyphicon-{{file_icon}}"></span>
		
		{{#if options.list}}
			{{file.title}}
			<span class="pull-right delete_content glyphicon glyphicon-trash" aria-hidden="true"></span>
			<span class="pull-right edit_content glyphicon glyphicon-pencil" aria-hidden="true"></span>
		{{else}}
			{{#if options.selected}}
				{{file.title}}
				<span class="pull-right glyphicon glyphicon-remove remove_item" aria-hidden="true"></span>
			{{else}}
				<span class="pull-left folder_plus glyphicon glyphicon-plus"></span>
				{{file.title}}
			{{/if}}
		{{/if}}
	</label>
</li>
{{#if folder}}<ul id="item_{{index}}_sub" class="list-unstyled subdirectory"></ul>{{/if}}