<div class="mq-overlay text-center container-fluid">{{formatMessage (intlGet 'messages.generating')}}</div>
<div class="mq-wrapper text-center" id="editor_wrapper_{{selector}}">
	<div id='{{selector}}'></div>
	<a class="btn math_shortcuts" tabindex="0" data-container="#editor_wrapper_{{selector}}" data-toggle="popover" data-placement="bottom"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span></a>
	<a class="btn" id="add_formula" tabindex="1"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
</div>
<div class="character_wrapper">
	<div id="characters_{{selector}}" class="exercise_characters">
		<div class="row">
			<div class="col-xs-12 text-center character_section_header">{{formatMessage (intlGet 'messages.formulas')}}</div>
			{{#each characters.equations}}
				<div id="character_eqn_{{@index}}" class="col-xs-4 text-center char_cmd character_eqn" title="{{#translate title}}{{/translate}}  ({{key}})" data-key="{{key}}">{{preview}}</div>
			{{/each}}
		</div>
		<div class="row">
			<div class="col-xs-12 text-center character_section_header">{{formatMessage (intlGet 'messages.lines')}}</div>
			{{#each characters.formats}}
				<div id="character_format_{{@index}}" class="col-xs-4 text-center char_cmd character_format" title="{{#translate title}}{{/translate}} ({{key}})" data-key="{{key}}">{{preview}}</div>
			{{/each}}
		</div>
		{{#each characters.symbols}}
			<div class="row">
				<div class="col-xs-12 text-center character_section_header">{{#translate title}}{{/translate}}</div>
				{{#each symbols}}
					<div class="col-xs-2 text-center character_symbol" title="{{#translate title}}{{/translate}} ({{key}})" data-key="{{key}}">{{symbol}}</div>
				{{/each}}
			</div>
		{{/each}}
	</div>
</div>
