<div class="btn-group-vertical pull-right open_toolbar" role="group" aria-label="Edit Tools">
	<!--  <button type="button" class="btn btn-default toggle" title="{{formatMessage (intlGet 'messages.submit')}}">
	 	<i class="material-icons option">check</i>
	 </button>
	 <button type="button" class="btn btn-default cancel" {{#unless undo}}disabled="disabled"{{/unless}} title="{{formatMessage (intlGet 'messages.cancel_changes')}}">
	 	<i class="material-icons option">not_interested</i>
	 </button> -->
	 <button type="button" class="btn btn-default move_up" title="{{formatMessage (intlGet 'messages.move_up')}}">
		<i class="material-icons option">keyboard_arrow_up</i>
	</button>
	<button type="button" class="btn btn-default move_down" title="{{formatMessage (intlGet 'messages.move_down')}}">
	 	<i class="material-icons option">keyboard_arrow_down</i>
	</button>
	<button type="button" class="btn btn-default delete" title="{{formatMessage (intlGet 'messages.delete')}}">
	 	<i class="material-icons option">delete</i>
	</button>
</div>