<div class="modal fade hint_modal" role="dialog" tabindex="-1">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4>{{#if isdisplay}}{{formatMessage (intlGet 'messages.hints_header')}}{{else}}{{formatMessage (intlGet 'messages.hints_for_question')}}{{/if}}</h4>
        </div>
        <div class="modal-body">
            {{#unless isdisplay}}
                <div class="question_preview"></div>
                <hr>
            {{/unless}}
            <ul class="error-list list-unstyled text-center"><li class="hint_prompt">{{formatMessage (intlGet 'messages.error_blank_hint')}}</li></ul>
            <div class="input-tab-control tab_item" data-next=".addhint"></div>
        	<div class="hints {{#unless isdisplay}}edit_assessment_item{{/unless}}"></div>
            <div class="hint_footer container-fluid">
    			<button class="action-text pull-right tab_item close_hint_modal" data-dismiss="modal">{{formatMessage (intlGet 'messages.close')}}</button>
            </div>
            <div class="input-tab-control tab_item" data-next=".addhint"></div>
        </div>
    </div>
</div>
</div>
