<div class="answer_item {{#if allow_edit}}{{#unless is_true_false}}toggle_answer{{/unless}}{{/if}} {{#if answer.correct}}is_correct{{/if}}">
	<div class="row">
		{{#unless input_answer}}
		<div class="col-sm-1 text-center">
		 		<input class="correct" type="{{#if single_selection}}radio{{else}}checkbox{{/if}}" aria-label="Correct" name="{{#if isdisplay}}display_{{/if}}answer_{{groupName}}" {{#unless allow_toggle}}disabled{{/unless}} {{#if answer.correct}}checked{{/if}} title="{{#if answer.correct}}{{formatMessage (intlGet 'messages.correct')}}{{else}}{{formatMessage (intlGet 'messages.incorrect')}}{{/if}}">
		</div>
		{{/unless}}
		<div class="col-sm-{{#if input_answer}}10{{else}}9{{/if}} editor-col">
			<div class="answer editable" data-ph="Answer"></div>
		</div>
		<div class="col-sm-2 answer_options">
			{{#if allow_edit}}<div class="show_on_focus answer-toolbar pull-right {{#if is_true_false}}hide_remove{{/if}}"></div>{{/if}}
		</div>
	</div>
</div>
