<div class="input-tab-control tab_item" data-next="#mastery_modal_close_button"></div>
<div class="assessment_order_area text-center pull-left">
	<div class="order"></div>
</div>
<div class="assessment_item container-fluid {{#unless isdisplay}}edit_assessment_item{{/unless}}">
	<div class="main_edit_area">
		<div class="question_area toggle_exercise">
			<div class="row question_controls">
				<div class="col-sm-5">
					<div class="question_type">{{#format_question_type model.type}}{{/format_question_type}}</div>
					<select class="question_type_select show_on_focus" value="{{model.type}}">
						<option class="single_selection" value="single_selection">{{#translate "single_selection"}}{{/translate}}</option>
						<option class="multiple_selection" value="multiple_selection">{{#translate "multiple_selection"}}{{/translate}}</option>
						<option class="true_false" value="true_false">{{#translate "true_false"}}{{/translate}}</option>
						<option class="input_question" value="input_question">{{#translate "input_question"}}{{/translate}}</option>
					</select>
			    </div>
			    <div class="col-sm-4">
					<div class="open_hints hint_link pull-right">
						{{formatMessage (intlGet 'messages.hints')}} (<span class="hint_count">{{hint_count}}</span>)&nbsp;
						<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
					</div>
			    </div>
			    <div class="col-sm-3 random_answers_order">
			    	<div class="random_answer_section">
						<input type="checkbox" id="random_answer_order_{{cid}}" {{#if model.randomize}}checked{{/if}} {{#if isdisplay}}disabled{{/if}} class="random_order_check">
					</div>
					<div class="random_answer_section">
						<label for="random_answer_order_{{cid}}" {{#if isdisplay}}disabled{{/if}}>{{formatMessage (intlGet 'messages.randomize_answers')}}</label>
					</div>
			    </div>
			</div>
			<div class="row">
				<div class="col-sm-12"><ul class="error-list list-unstyled text-center"></ul></div>
			</div>
			<div class="row">
				<div class="col-sm-12">
				  	<div class="question editable" data-ph="Question"></div>
			    </div>
			</div>
		</div>
		<div id="{{ model.id }}" class="list_area">
		  	<div class="answers"></div>
		</div>
	</div>
	<div class="remove_area">
		<div class="toolbar"></div>
	</div>
</div>
