<div id="sync_preview_diff">
{{#if node}}
	<div id="sync_original_channel_header" class="truncate">Source: <b>{{node.original_channel.name}}</b></div>
	<div class="row item item_header">
		<div class="col-xs-2">{{formatMessage (intlGet 'messages.field')}}</div>
		<div class="col-xs-10">{{formatMessage (intlGet 'messages.update')}}</div>
	</div>
	{{#each diff_items}}{{#if this}}
		{{#if is_exercise}}
			{{#each current}}
				<div class="row item">
					<div class="col-xs-2 item_field_title">{{formatMessage (intlGet 'messages.question_deleted')}}</div>
					<div class="col-xs-10 item_field exercise_subitem" data-model='{{#to_json model}}{{/to_json}}' title="{{formatMessage (intlGet 'messages.deleted')}}" id="question_{{id}}">
						<div class="list_subitem original">
							<i class="material-icons pull-right grayed">launch</i>
							<i class="material-icons">remove</i> {{{parse_question question}}}
							<em class="file_size">&nbsp;{{ans_hint_count}}</em>
						</div>
					</div>
				</div>
			{{/each}}
			{{#each changed}}
				<div class="row item">
					<div class="col-xs-2 item_field_title">{{formatMessage (intlGet 'messages.question_modified')}}</div>
					<div class="col-xs-10 item_field exercise_subitem" data-model='{{#to_json model1}}{{/to_json}}' data-source='{{#to_json model2}}{{/to_json}}' title="{{formatMessage (intlGet 'messages.changed')}}" id="question_{{id}}">
						<div class="list_subitem">
							<i class="preview material-icons pull-right grayed">launch</i>
							{{#if question.changed}}
								<div class="original"><i class="material-icons">remove</i> {{{parse_question question.current}}}</div>
								<div class="updated"><i class="material-icons">add</i> {{{parse_question question.source}}}</div>
							{{else}}
								<div class="grayed">{{{parse_question question.current}}}</div>
							{{/if}}
							<ul class="list-unstyled assessment_sublist">
								{{#each answers.current}}
									<li class="assessment_sublist_item original"><i class="material-icons">remove</i> {{formatMessage (intlGet 'messages.answer')}}: {{{parse_question answer}}}{{#if correct}} (Correct){{/if}}</li>
								{{/each}}
								{{#each answers.source}}
									<li class="assessment_sublist_item updated"><i class="material-icons">add</i> {{formatMessage (intlGet 'messages.answer')}}: {{{parse_question answer}}}{{#if correct}} (Correct){{/if}}</li>
								{{/each}}
								{{#each hints.current}}
									<li class="assessment_sublist_item original"><i class="material-icons">remove</i> {{formatMessage (intlGet 'messages.hint')}}: {{{parse_question hint}}}</li>
								{{/each}}
								{{#each hints.source}}
									<li class="assessment_sublist_item updated"><i class="material-icons">add</i> {{formatMessage (intlGet 'messages.hint')}}: {{{parse_question hint}}}</li>
								{{/each}}
								{{#if data.changed}}
									<li class="assessment_sublist_item original"><i class="material-icons">remove</i>{{formatMessage (intlGet 'messages.properties')}}: {{data.current}}</li>
									<li class="assessment_sublist_item updated"><i class="material-icons">add</i> {{formatMessage (intlGet 'messages.properties')}}: {{data.source}}</li>
								{{/if}}
							</ul>
						</div>
					</div>
				</div>
			{{/each}}
			{{#each source}}
				<div class="row item">
					<div class="col-xs-2 item_field_title">{{formatMessage (intlGet 'messages.question_added')}}</div>
					<div class="col-xs-10 item_field exercise_subitem" data-source='{{#to_json model}}{{/to_json}}' title="{{formatMessage (intlGet 'messages.added')}}" id="question_{{id}}">
						<div class="list_subitem updated">
							<i class="preview material-icons pull-right grayed">launch</i>
							<i class="material-icons">add</i> {{{parse_question question}}}
							<em class="file_size">&nbsp;{{ans_hint_count}}</em>
						</div>
					</div>
				</div>
			{{/each}}
		{{else}}
			<div class="row item">
				<div class="col-xs-2 item_field_title">{{field}}</div>
				<div class="col-xs-10 item_field">
					{{#if is_file}}
						<ul class="list-unstyled">
							{{#each current}}
								<li class="list_subitem file_subitem original" data-model='{{#to_json this}}{{/to_json}}' data-current=1 title="{{formatMessage (intlGet 'messages.deleted')}}" id="file_{{id}}">
									<i class="material-icons">remove</i> {{{translate preset.id}}}
									<em class="file_size">({{{format_file_size file_size}}})</em>
									<i class="preview material-icons pull-right grayed">launch</i>
								</li>
							{{/each}}
							{{#each source}}
								<li class="list_subitem file_subitem updated" data-model='{{#to_json this}}{{/to_json}}' data-current=0 title="{{formatMessage (intlGet 'messages.added')}}" id="file_{{id}}">
									<i class="material-icons">add</i> {{{translate preset.id}}}
									<em class="file_size">({{{format_file_size file_size}}})</em>
									<i class="preview material-icons pull-right grayed">launch</i>
								</li>
							{{/each}}
						</ul>
					{{else}}
						{{#if current}}<div class="original wordwrap" title="{{current}}"><i class="material-icons">remove</i> {{current}}</div>{{/if}}
						{{#if source}}<div class="updated wordwrap" title="{{source}}"><i class="material-icons">add</i> {{source}}</div>{{/if}}
					{{/if}}
				</div>
			</div>
		{{/if}}
	{{/if}}{{/each}}
{{else}}
	<div class="empty_default">{{#if loading}}{{formatMessage (intlGet 'messages.loading_changes')}}{{else}}{{formatMessage (intlGet 'messages.select_item_prompt')}}{{/if}}</div>
{{/if}}
</div>
