<div id="sync_preview_diff">
{{#if node}}
	<div id="sync_original_channel_header" class="truncate">Imported from <b>{{node.original_channel.name}}</b></div>
	<div class="row item item_header">
		<div class="col-xs-2">FIELD</div>
		<div class="col-xs-10">UPDATE</div>
	</div>
	{{#each diff_items}}{{#if this}}
		<div class="row item">
			<div class="col-xs-2 item_field_title">{{field}}</div>
			<div class="col-xs-10 item_field">
				{{#if is_file}}
					<div class="original truncate">BEFORE:
						<ul class="list-unstyled">
							{{#each current}}
								<li class="list_subitem" data-url="{{storage_url}}">
									<span class="filename">{{display_name}}</span>
									<em class="file_size">({{#format_file_size file_size}}{{/format_file_size}})</em>
									<span class="preview glyphicon glyphicon-new-window" aria-hidden="true"></span>
								</li>
							{{/each}}
						</ul>
					</div>
					<div class="updated truncate">AFTER:
						<ul class="list-unstyled">
							{{#each source}}
								<li class="list_subitem" data-url="{{storage_url}}">
									<span class="filename">{{display_name}}</span>
									<em class="file_size">({{#format_file_size file_size}}{{/format_file_size}})</em>
									<span class="preview glyphicon glyphicon-new-window" aria-hidden="true"></span>
								</li>
							{{/each}}
						</ul>
					</div>
				{{else}}
					<div class="original truncate" title="{{current}}">BEFORE: {{current}}</div>
					<div class="updated truncate" title="{{source}}">AFTER: {{source}}</div>
				{{/if}}
			</div>
		</div>
	{{/if}}{{/each}}
{{else}}
	<div class="empty_default">Select an item to view updates</div>
{{/if}}
</div>
