<div id="sync_preview_diff">
{{#if node}}
	<div id="sync_original_channel_header" class="truncate">Imported from <b>{{node.original_channel.name}}</b></div>
	<div class="row item item_header">
		<div class="col-xs-2">FIELD</div>
		<div class="col-xs-10">UPDATE</div>
	</div>
	{{#each diff_items}}{{#if this}}
		<div class="row item">
			<div class="col-xs-2 item_field_title">{{field}}</div>
			<div class="col-xs-10 item_field">
				{{#if is_file}}
					<ul class="list-unstyled">
						{{#each current}}
							<li class="list_subitem file_subitem original" data-model='{{#to_json this}}{{/to_json}}' data-current=1 title="Deleted" id="file_{{id}}">
								<span class="glyphicon glyphicon-minus" aria-hidden="true"></span> {{display_name}}
								<em class="file_size">({{#format_file_size file_size}}{{/format_file_size}})</em>
								<span class="preview glyphicon glyphicon-new-window" aria-hidden="true"></span>
							</li>
						{{/each}}
						{{#each source}}
							<li class="list_subitem file_subitem updated" data-model='{{#to_json this}}{{/to_json}}' data-current=0 title="Added" id="file_{{id}}">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{display_name}}
								<em class="file_size">({{#format_file_size file_size}}{{/format_file_size}})</em>
								<span class="preview glyphicon glyphicon-new-window" aria-hidden="true"></span>
							</li>
						{{/each}}
					</ul>
				{{else}}
					{{#if current}}<div class="original truncate" title="{{current}}"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> {{current}}</div>{{/if}}
					{{#if source}}<div class="updated truncate" title="{{source}}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{source}}</div>{{/if}}
				{{/if}}
			</div>
		</div>
	{{/if}}{{/each}}
{{else}}
	<div class="empty_default">Select an item to view updates</div>
{{/if}}
</div>
