<div id="sync_preview_diff">
{{#if node}}
	<div id="sync_original_channel_header" class="truncate">Source: <b>{{node.original_channel.name}}</b></div>
	<div class="row item item_header">
		<div class="col-xs-2">{{formatMessage (intlGet 'messages.field')}}</div>
		<div class="col-xs-10">{{formatMessage (intlGet 'messages.update')}}</div>
	</div>
	{{#each diff_items}}{{#if this}}
		{{#if is_exercise}}
			{{#each current}}
				<div class="row item">
					<div class="col-xs-2 item_field_title">{{formatMessage (intlGet 'messages.question_deleted')}}</div>
					<div class="col-xs-10 item_field exercise_subitem" data-model='{{#to_json model}}{{/to_json}}' title="{{formatMessage (intlGet 'messages.deleted')}}" id="question_{{id}}">
						<div class="list_subitem original">
							<div class="preview glyphicon glyphicon-new-window pull-right grayed" aria-hidden="true"></div>
							<span class="glyphicon glyphicon-minus" aria-hidden="true"></span> {{#parse_question question}}{{/parse_question}}
							<em class="file_size">&nbsp;{{ans_hint_count}}</em>
						</div>
					</div>
				</div>
			{{/each}}
			{{#each changed}}
				<div class="row item">
					<div class="col-xs-2 item_field_title">{{formatMessage (intlGet 'messages.question_modified')}}</div>
					<div class="col-xs-10 item_field exercise_subitem" data-model='{{#to_json model1}}{{/to_json}}' data-source='{{#to_json model2}}{{/to_json}}' title="{{formatMessage (intlGet 'messages.changed')}}" id="question_{{id}}">
						<div class="list_subitem">
							<div class="preview glyphicon glyphicon-new-window pull-right grayed" aria-hidden="true"></div>
							{{#if question.changed}}
								<div class="original"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> {{#parse_question question.current}}{{/parse_question}}</div>
								<div class="updated"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{#parse_question question.source}}{{/parse_question}}</div>
							{{else}}
								<div class="grayed">{{#parse_question question.current}}{{/parse_question}}</div>
							{{/if}}
							<ul class="list-unstyled assessment_sublist">
								{{#each answers.current}}
									<li class="assessment_sublist_item original"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> {{formatMessage (intlGet 'messages.answer')}}: {{#parse_question answer}}{{/parse_question}}{{#if correct}} (Correct){{/if}}</li>
								{{/each}}
								{{#each answers.source}}
									<li class="assessment_sublist_item updated"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{formatMessage (intlGet 'messages.answer')}}: {{#parse_question answer}}{{/parse_question}}{{#if correct}} (Correct){{/if}}</li>
								{{/each}}
								{{#each hints.current}}
									<li class="assessment_sublist_item original"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> {{formatMessage (intlGet 'messages.hint')}}: {{#parse_question hint}}{{/parse_question}}</li>
								{{/each}}
								{{#each hints.source}}
									<li class="assessment_sublist_item updated"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{formatMessage (intlGet 'messages.hint')}}: {{#parse_question hint}}{{/parse_question}}</li>
								{{/each}}
								{{#if data.changed}}
									<li class="assessment_sublist_item original"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> {{formatMessage (intlGet 'messages.properties')}}: {{data.current}}</li>
									<li class="assessment_sublist_item updated"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{formatMessage (intlGet 'messages.properties')}}: {{data.source}}</li>
								{{/if}}
							</ul>
						</div>
					</div>
				</div>
			{{/each}}
			{{#each source}}
				<div class="row item">
					<div class="col-xs-2 item_field_title">{{formatMessage (intlGet 'messages.question_added')}}</div>
					<div class="col-xs-10 item_field exercise_subitem" data-source='{{#to_json model}}{{/to_json}}' title="{{formatMessage (intlGet 'messages.added')}}" id="question_{{id}}">
						<div class="list_subitem updated">
							<div class="preview glyphicon glyphicon-new-window pull-right grayed" aria-hidden="true"></div>
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{#parse_question question}}{{/parse_question}}
							<em class="file_size">&nbsp;{{ans_hint_count}}</em>
						</div>
					</div>
				</div>
			{{/each}}
		{{else}}
			<div class="row item">
				<div class="col-xs-2 item_field_title">{{field}}</div>
				<div class="col-xs-10 item_field">
					{{#if is_file}}
						<ul class="list-unstyled">
							{{#each current}}
								<li class="list_subitem file_subitem original" data-model='{{#to_json this}}{{/to_json}}' data-current=1 title="{{formatMessage (intlGet 'messages.deleted')}}" id="file_{{id}}">
									<span class="glyphicon glyphicon-minus" aria-hidden="true"></span> {{#translate preset.id}}{{/translate}}
									<em class="file_size">({{#format_file_size file_size}}{{/format_file_size}})</em>
									<span class="preview glyphicon glyphicon-new-window" aria-hidden="true"></span>
								</li>
							{{/each}}
							{{#each source}}
								<li class="list_subitem file_subitem updated" data-model='{{#to_json this}}{{/to_json}}' data-current=0 title="{{formatMessage (intlGet 'messages.added')}}" id="file_{{id}}">
									<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{#translate preset.id}}{{/translate}}
									<em class="file_size">({{#format_file_size file_size}}{{/format_file_size}})</em>
									<span class="preview glyphicon glyphicon-new-window" aria-hidden="true"></span>
								</li>
							{{/each}}
						</ul>
					{{else}}
						{{#if current}}<div class="original wordwrap" title="{{current}}"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> {{current}}</div>{{/if}}
						{{#if source}}<div class="updated wordwrap" title="{{source}}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{source}}</div>{{/if}}
					{{/if}}
				</div>
			</div>
		{{/if}}
	{{/if}}{{/each}}
{{else}}
	<div class="empty_default">{{#if loading}}{{formatMessage (intlGet 'messages.loading_changes')}}{{else}}{{formatMessage (intlGet 'messages.select_item_prompt')}}{{/if}}</div>
{{/if}}
</div>
