<div class="modal fade" tabindex="-1" id="temp_sync_modal">
  <div class="modal-dialog modal-dialog-default">
    <div class="modal-content">
      <div class="modal-header">
          <h4>
              <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              {{formatMessage (intlGet 'messages.sync_header')}}
              <div class="help_text">{{formatMessage (intlGet 'messages.select_fields_prompt')}}</div>
          </h4>
      </div>
      <div class="input-tab-control tab_item" data-next="#sync_content_button"></div>
      <div class="modal-body">
         <div class="row">
           <div class="col-xs-6"><input type="checkbox" id="check_details" class="category_check tab_item first_focus_item"><label for="check_details">{{formatMessage (intlGet 'messages.details')}} <p>{{formatMessage (intlGet 'messages.details_text')}}</p></label></div>
           <div class="col-xs-6"><input type="checkbox" id="check_files" class="category_check tab_item"><label for="check_files">{{formatMessage (intlGet 'messages.files')}} <p>{{formatMessage (intlGet 'messages.files_text')}}</p></label></div>
         </div>
         <div class="row">
           <div class="col-xs-6"><input type="checkbox" id="check_tags" class="category_check tab_item"><label for="check_tags">{{formatMessage (intlGet 'messages.tags')}} <p>{{formatMessage (intlGet 'messages.tags_text')}}</p></label></div>
           <div class="col-xs-6"><input type="checkbox" id="check_assessment_items" class="category_check tab_item"><label for="check_assessment_items">{{formatMessage (intlGet 'messages.assessment_items')}} <p>{{formatMessage (intlGet 'messages.assessment_items_text')}}</p></label></div>
         </div>
          <br/>
          <div id="sync_bottom_container">
            <button class="action-text tab_item uppercase" data-dismiss="modal">{{formatMessage (intlGet 'messages.cancel')}}</button>
            <button disabled class="action-button pull-right disabled tab_item" id="sync_content_button">{{formatMessage (intlGet 'messages.sync')}}</button>
            <span id="sync_status" class="pull-right truncate"></span>
          </div>
      </div>
      <div class="input-tab-control tab_item" data-next="#check_details"></div>
    </div>
  </div>
</div>