<input type="checkbox" id="queue_file_{{node.id}}" {{#if checked}}checked{{/if}}></input>
<label for="queue_file_{{node.id}}" class="queue_item tog_folder">
	<div class="queue-options pull-right">
		<span class="edit_content glyphicon glyphicon-pencil" aria-hidden="true" title="{{formatMessage (intlGet 'messages.edit')}}"></span>
		<span class="delete_content glyphicon glyphicon-trash" aria-hidden="true" title="{{formatMessage (intlGet 'messages.delete')}}"></span>
	</div>
	{{#unless isfolder}}<span class="content-item-icon {{#get_icon node.kind}}{{/get_icon}}" aria-hidden="true"></span>{{/unless}}
	<div class="queue_item_title title truncate" title="{{node.title}}">{{node.title}}</div>
	{{#if isfolder}}<div class="badge clipboard-topic-count">{{node.metadata.resource_count}}</div>{{/if}}
	{{#if isfolder}}
		{{#if node.children}}<span id="menu_toggle_{{node.id}}" class="glyphicon glyphicon-menu-up toggle-icon"></span>
		{{else}}{{formatMessage (intlGet 'messages.empty')}}{{/if}}
	{{/if}}
</label>

{{#if isfolder}}<div id="{{node.id}}_sub" class="subdirectory wrapper"></div>{{/if}}
